openapi: 3.0.3
info:
  description: The Terra API
  title: TerraAPI
  version: 2022.03.16
  license:
    name: Apache-2.0
    url: https://github.com/tryterra/openapi/blob/master/LICENSE
  termsOfService: https://tryterra.co/terms-of-service
  contact:
    name: Terra API
    url: https://tryterra.co/
    email: dev@tryterra.co
servers:
- url: https://api.tryterra.co/v2
security:
- ApiKeyAuth: []
- DevID: []
paths:
  /auth/authenticateUser:
    post:
      summary: Generate an authentication link
      description: Creates a login link that allows end users to connect their fitness tracking account
      tags:
      - Authentication
      operationId: Authentication_AuthenticateUser
      parameters:
      - name: resource
        in: query
        description: Provider resource identifier (e.g., 'FITBIT', 'GARMIN', 'OURA'). See "Get detailed list of integrations" for available providers
        schema:
          type: string
        example: FITBIT
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                reference_id:
                  type: string
                auth_success_redirect_url:
                  type: string
                auth_failure_redirect_url:
                  type: string
        required: false
      responses:
        '200':
          description: Returned when authentication link could be successfully generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that the request was successful
                    example: success
                  user_id:
                    description: User ID for the user being created
                    type: string
                    example: 23dc2540-7139-44c6-8158-f81196e2cf2e
                  auth_url:
                    type: string
                    description: authentication URL the user must be redirected to in order to link their account
                    example: https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23BBG9&scope=settings+nutrition+sleep+heartrate+electrocardiogram+weight+respiratory_rate+oxygen_saturation+profile+temperature+cardio_fitness+activity+location&state=bLqqjPie9ptwoWm6VBxHCu6JkkoWJp
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. resource)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that an error happened (value is error)
  /auth/generateWidgetSession:
    post:
      summary: Generate an authentication link, using the Terra Authentication Widget
      description: Generates a link to redirect an end user to for them to select an integration and log in with their fitness data provider
      tags:
      - Authentication
      operationId: Authentication_GenerateWidgetSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetSessionParams'
        required: true
      responses:
        '200':
          description: Returned when authentication link could be successfully generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    description: Session ID for the widget authentication session
                    type: string
                    example: 23dc2540-7139-44c6-8158-f81196e2cf2e
                  url:
                    type: string
                    description: the widget URL the user must be redirected to in order to link their account
                    example: https://widget.tryterra.co/session/344d475f-296a-489a-a88c-54183671dafd
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that the request was successful (value is success)
                    example: success
                  expires_in:
                    type: number
                    description: a number in seconds depicting how long the url is valid for
                    example: 900
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /users/{user_id}:
    patch:
      summary: Modify user
      description: Update a Terra user's reference_id or active status
      tags:
      - User
      operationId: User_ModifyUser
      parameters:
      - name: user_id
        in: path
        description: Terra user ID to update
        required: true
        schema:
          type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                reference_id:
                  type: string
                  description: Identifier on your system to associate with this user
                  example: updatedUser123
                active:
                  type: boolean
                  description: Whether the user should remain active
      responses:
        '200':
          description: Returned upon successful user modification
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: Indicates that the request was successful
                    example: success
        '400':
          description: Returned if the parameters are malformed or no user is found
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: A detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: Indicates an error happened
  /auth/deauthenticateUser:
    delete:
      summary: Deauthenticates a user and deletes any cached data for them
      description: Deletes all records of the user on Terra's end, revoking Terra's access to their data
      tags:
      - Authentication
      operationId: Authentication_DeauthenticateUser
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to deauthenticate and remove from Terra system
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Returned when user is successfully deauthenticated and data is deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    enum:
                    - success
                    - error
                    description: indicates that the deauthentication was successful (value is success)
                    type: string
        '404':
          description: Returned when the user_id is not existent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that an error happened (value is error)
  /auth/generateAuthToken:
    post:
      tags:
      - Authentication
      summary: Generates an authentication token for the Terra mobile SDKs
      description: Creates a token to be used with initConnection() functions in the Terra mobile SDKs in order to create a user record for Apple Health or Samsung Health (or equivalent)
      operationId: Authentication_GenerateAuthToken
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: success
                    token: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                    expires_in: 180
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  token:
                    type: string
                    example: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                  expires_in:
                    type: integer
                    example: 180
                    default: 0
        '404':
          description: '404'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: error
                    message: Invalid dev-id was provided
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  message:
                    type: string
                    example: Invalid dev-id was provided
      deprecated: false
  /activity:
    get:
      summary: Retrieve activity data for a given user ID
      description: Fetches completed workout sessions, with a defined start and end time and activity type (e.g. running, cycling, etc.)
      tags:
      - Activity
      operationId: Activity_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Activity'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
                - $ref: '#/components/schemas/RequestProcessing'
                - $ref: '#/components/schemas/RateLimitRequestProcessing'
                - $ref: '#/components/schemas/LargeRequestProcessingEvent'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
    post:
      tags:
      - Activity
      operationId: Activity_Write
      description: Used to post activity data to a provider. This endpoint only works for users connected via Wahoo. Returns error for other providers.
      summary: Post activity data to a provider
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  description: List of user-tracked workouts to post to data provider
                  type: array
                  items:
                    $ref: '#/components/schemas/Activity'
              required:
              - data
        required: true
      responses:
        '201':
          description: Returned when activity was successfully created on the provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  log_ids:
                    description: List of identifiers for the objects created, returned in the same order they were posted. I.e. Posting [ObjectA, ObjectB] will return [IdentifierA, IdentifierB]
                    type: array
                    items:
                      type: string
                  message:
                    type: string
                    default: Activity successfully logged
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /athlete:
    get:
      summary: Retrieve user profile info for a given user ID
      description: Fetches relevant profile info such as first & last name, birth date etc. for a given user ID
      tags:
      - Athlete
      operationId: Athlete_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AthleteCollection'
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /body:
    get:
      summary: Retrieve body metrics for a given user ID
      description: Fetches body metrics such as weight, height, body fat percentage etc. for a given user ID
      tags:
      - Body
      operationId: Body_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Body'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
                - $ref: '#/components/schemas/RequestProcessing'
                - $ref: '#/components/schemas/RateLimitRequestProcessing'
                - $ref: '#/components/schemas/LargeRequestProcessingEvent'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
    post:
      tags:
      - Body
      operationId: Body_Write
      description: Used to post body data to a provider. This endpoint only works for users connected via Google Fit. Returns error for other providers.
      summary: Post body data to a provider
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  description: Body measurement metrics to post to data provider
                  type: array
                  items:
                    $ref: '#/components/schemas/Body'
              required:
              - data
        required: true
      responses:
        '201':
          description: Returned when activity was successfully created on the provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  log_ids:
                    description: List of identifiers for the objects created, returned in the same order they were posted. I.e. Posting [ObjectA, ObjectB] will return [IdentifierA, IdentifierB]
                    type: array
                    items:
                      type: string
                  message:
                    type: string
                    default: Body data successfully logged
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
    delete:
      tags:
      - Body
      operationId: Body_Delete
      description: Used to delete Body metrics the user has registered on their account
      summary: Delete body metrics for a given user ID
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                log_ids:
                  type: array
                  description: List of identifiers for body metrics entries to be deleted
                  items:
                    type: string
                  required:
                  - data
        required: true
      responses:
        '200':
          description: Returned when all records were deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  processed_data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier of the body metric entries whose deletion was attempted
                        response_code:
                          type: integer
                          description: Response code from the provider when attempting to delete the body metric entries
        '207':
          description: Returned when multiple status codes were obtained from attempting to delete the requested records
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  processed_data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier of the body metric entry whose deletion was attempted
                        response_code:
                          type: integer
                          description: Response code from the provider when attempting to delete the body metric entry
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /daily:
    get:
      summary: Retrieve daily activity summaries for a given user ID
      description: Fetches daily summaries of activity metrics such as steps, distance, calories burned etc. for a given user ID
      tags:
      - Daily
      operationId: Daily_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Daily'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
                - $ref: '#/components/schemas/RequestProcessing'
                - $ref: '#/components/schemas/RateLimitRequestProcessing'
                - $ref: '#/components/schemas/LargeRequestProcessingEvent'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /menstruation:
    get:
      summary: Retrieve menstruation data for a given user ID
      description: Fetches menstruation data such as cycle length, period length, ovulation date etc. for a given user ID
      tags:
      - Menstruation
      operationId: Menstruation_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Menstruation'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
                - $ref: '#/components/schemas/RequestProcessing'
                - $ref: '#/components/schemas/RateLimitRequestProcessing'
                - $ref: '#/components/schemas/LargeRequestProcessingEvent'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /nutrition:
    get:
      summary: Retrieve nutrition log data for a given user ID
      description: Fetches nutrition log data such as meal type, calories, macronutrients etc. for a given user ID
      tags:
      - Nutrition
      operationId: Nutrition_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Nutrition'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
                - $ref: '#/components/schemas/RequestProcessing'
                - $ref: '#/components/schemas/RateLimitRequestProcessing'
                - $ref: '#/components/schemas/LargeRequestProcessingEvent'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
    post:
      tags:
      - Nutrition
      operationId: Nutrition_Write
      description: Used to post nutrition logs to a provider. This endpoint only works for users connected via Fitbit. Returns error for other providers.
      summary: Post nutrition logs to a provider
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  description: Nutrition entry to post to data provider
                  type: array
                  items:
                    $ref: '#/components/schemas/Nutrition'
              required:
              - data
        required: true
      responses:
        '201':
          description: Returned when activity was successfully created on the provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  log_ids:
                    description: List of identifiers for the objects created, returned in the same order they were posted. I.e. Posting [ObjectA, ObjectB] will return [IdentifierA, IdentifierB]
                    type: array
                    items:
                      type: string
                  message:
                    type: string
                    default: Nutrition successfully logged
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
    delete:
      tags:
      - Nutrition
      operationId: Nutrition_Delete
      description: Used to delete nutrition logs the user has registered on their account
      summary: Delete nutrition logs for a given user ID
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  description: List of identifiers for nutrition entries to be deleted
                  items:
                    type: string
                  required:
                  - data
        required: true
      responses:
        '200':
          description: Returned when all records were deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  processed_data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier of the nutrition log whose deletion was attempted
                        response_code:
                          type: integer
                          description: Response code from the provider when attempting to delete the nutrition log
        '207':
          description: Returned when multiple status codes were obtained from attempting to delete the requested records
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  processed_data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier of the nutrition log whose deletion was attempted
                        response_code:
                          type: integer
                          description: Response code from the provider when attempting to delete the nutrition log
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    enum:
                    - success
                    - error
                    type: string
                    description: indicates that an error happened (value is error)
  /sleep:
    get:
      summary: Retrieve sleep sessions for a given user ID
      description: Fetches sleep data such as sleep duration, sleep stages, sleep quality etc. for a given user ID, for sleep sessions with a defined start and end time
      tags:
      - Sleep
      operationId: Sleep_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Sleep'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
                - $ref: '#/components/schemas/RequestProcessing'
                - $ref: '#/components/schemas/RateLimitRequestProcessing'
                - $ref: '#/components/schemas/LargeRequestProcessingEvent'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /plannedWorkout:
    post:
      tags:
      - PlannedWorkout
      operationId: PlannedWorkout_Write
      description: Used to post workout plans users can follow on their wearable. This can be strength workouts (sets, reps, weight lifted) or cardio workouts (warmup, intervals of different intensities,
        cooldown etc)
      summary: Post workout plans to a provider
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  description: PlannedWorkout entry to post to data provider
                  type: array
                  items:
                    $ref: '#/components/schemas/PlannedWorkout'
              required:
              - data
        required: true
      responses:
        '201':
          description: Returned when activity was successfully created on the provider
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  log_ids:
                    description: List of identifiers for the objects created, returned in the same order they were posted. I.e. Posting [ObjectA, ObjectB] will return [IdentifierA, IdentifierB]
                    type: array
                    items:
                      type: string
                  message:
                    type: string
                    default: Planned workout successfully created
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
    get:
      summary: Retrieve workout plans for a given user ID
      description: Used to get workout plans the user has registered on their account. This can be strength workouts (sets, reps, weight lifted) or cardio workouts (warmup, intervals of different intensities,
        cooldown etc)
      tags:
      - PlannedWorkout
      operationId: PlannedWorkout_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/PlannedWorkout'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/NoDataReturned'
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when credentials (dev ID and API key) are invalid
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: An error message
                    type: string
                    example: unauthorized
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
    delete:
      tags:
      - PlannedWorkout
      operationId: PlannedWorkout_Delete
      description: Used to delete workout plans the user has registered on their account. This can be strength workouts (sets, reps, weight lifted) or cardio workouts (warmup, intervals of different intensities,
        cooldown etc)
      summary: Delete workout plans for a given user ID
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: array
                  description: List of identifiers for planned workout entries to be deleted
                  items:
                    type: string
                  required:
                  - data
        required: true
      responses:
        '200':
          description: Returned when all records were deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  processed_data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Identifier of the planned workout whose deletion was attempted
                        response_code:
                          type: integer
                          description: Response code from the provider when attempting to delete the planned workout
        '207':
          description: Returned when multiple status codes were obtained from attempting to delete the requested records
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/TerraUser'
                  processed_data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Identifier of the planned workout whose deletion was attempted
                      response_code:
                        type: integer
                        description: Response code from the provider when attempting to delete the planned workout
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '401':
          description: Returned when authorization with a data provider has failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    enum:
                    - success
                    - error
                    type: string
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /userInfo:
    get:
      tags:
      - User
      operationId: User_GetInfoForUserID
      description: Used to query for information on one Terra user ID, or to query for all registered Terra User objects under one reference ID
      summary: Get information for a single user ID or multiple users by reference ID
      parameters:
      - name: user_id
        in: query
        description: user ID to query for
        schema:
          type: string
        required: false
      - name: reference_id
        in: query
        description: reference ID to query for
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Returned when the provided resources are found
          content:
            application/json:
              schema:
                oneOf:
                - description: User information for one connection (single User object)
                  type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    status:
                      type: string
                      enum:
                      - success
                      - error
                      default: success
                    is_authenticated:
                      type: boolean
                - description: List of multiple User objects the reference_id is associated to
                  type: array
                  items:
                    $ref: '#/components/schemas/TerraUser'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /subscriptions:
    get:
      tags:
      - User
      operationId: User_GetAllUserIDs
      description: Used to query for information for all Terra User IDs. Supports optional pagination via `page` and `per_page`. If `page` is not provided, it returns all users in one go (backwards compatibility).
      summary: Get all Terra User IDs
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Zero-based page number. If omitted, results are not paginated.
        example: 0
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of results per page (default is 500).
        example: 500
      responses:
        '200':
          description: Returned upon a successful request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    users:
                      type: array
                      items:
                        $ref: '#/components/schemas/TerraUser'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        next:
                          type: integer
                          description: The next page number, or null if there is no next page
                          nullable: true
                        max_page:
                          type: integer
                          description: The maximum page index
                        results:
                          type: array
                          items:
                            $ref: '#/components/schemas/TerraUser'
        '400':
          description: Returned when one or more parameters are malformed
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: A detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: Indicates that an error occurred (value is `error`)
  /bulkUserInfo:
    post:
      tags:
      - User
      operationId: User_GetInfoForMultipleUserIDs
      description: Used to query for information for multiple Terra User IDs
      summary: Get information for multiple user IDs
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: List of user IDs to get information for
              items:
                type: string
        required: true
      responses:
        '200':
          description: Returned upon successful request
          content:
            application/json:
              schema:
                description: List of User objects
                type: array
                items:
                  $ref: '#/components/schemas/TerraUser'
        '400':
          description: Returned when one or more parameters is malformed - an appropriate error message will be returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
        '404':
          description: Returned when a parameter does not exist on Terra's end (e.g. user_id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    description: a detailed message describing the error
                    type: string
                  status:
                    type: string
                    enum:
                    - error
                    description: indicates that an error happened (value is error)
  /integrations:
    get:
      summary: Get list of available integrations
      tags:
      - Integrations
      operationId: Integrations_Fetch
      description: Retrieve a list of all available provider integrations on the API.
      security: []
      responses:
        '200':
          description: Returns list of all available integrations on the API
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: string
                      example: FITBIT
                  sdk_resource:
                    type: array
                    items:
                      type: string
                      example: APPLE
                  status:
                    enum:
                    - success
                    - error
                    type: string
                    default: success
  /integrations/detailed:
    get:
      tags:
      - Integrations
      operationId: Integrations_DetailedFetch
      summary: Get detailed list of integrations
      description: Retrieve a detailed list of supported integrations, optionally filtered by the developer's enabled integrations and the requirement for SDK usage.
      parameters:
      - in: query
        name: sdk
        required: false
        schema:
          type: boolean
        description: If `true`, allows SDK integrations to be included in the response.
      responses:
        '200':
          description: Successful response containing a list of integrations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsResponse'
      security: []
webhooks:
  healthcheck:
    post:
      description: Healthcheck event sent periodically to verify your event is functional
      summary: Healthcheck webhook
      operationId: healthcheckWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthcheckEvent'
      responses:
        '200':
          description: Successful healthcheck response
  auth:
    post:
      description: Occurs when a user attempts to authenticate
      summary: User authentication webhook
      operationId: userAuthWebhook
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/AuthSuccessEvent'
              - $ref: '#/components/schemas/AuthErrorEvent'
      responses:
        '200':
          description: Successful authentication response
  deauth:
    post:
      description: Occurs when a user deauthenticates through the Terra
      summary: User deauthentication webhook
      operationId: userDeauthWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeauthEvent'
      responses:
        '200':
          description: Successful deauthentication response
  user_reauth:
    post:
      description: Occurs when a user successfully authenticates for a second time, with the same account. You will receive a successful auth and a user_reauth payload
      summary: User reauthentication webhook
      operationId: userReauthWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserReauthEvent'
      responses:
        '200':
          description: Successful reauthentication response
  access_revoked:
    post:
      description: Occurs when a user revokes Terra's access from the provider's end
      summary: Access revoked webhook
      operationId: accessRevokedWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRevokedEvent'
      responses:
        '200':
          description: Successful access revocation response
  connection_error:
    post:
      description: Occurs when a request to a provider returns an HTTP response of 401, 403 or 412
      summary: Connection error webhook
      operationId: connectionErrorWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionErrorEvent'
      responses:
        '200':
          description: Successful connection error response
  google_no_datasource:
    post:
      description: Occurs when a Google Fit user doesn't have a data source linked to their account. All data requests for the user will be empty unless they link a data source
      summary: Google no data source webhook
      operationId: googleNoDataSourceWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleNoDatasourceEvent'
      responses:
        '200':
          description: Successful no data source response
  processing:
    post:
      description: Occurs when data is being fetched asynchronously from the provider. The data will be sent through automatically via your Destination, and you can also safely request for it after the
        time in the retry_after_seconds field.
      summary: Data processing webhook
      operationId: dataProcessingWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessingEvent'
      responses:
        '200':
          description: Successful processing response
  large_request_sending:
    post:
      description: Occurs when more than one month of data has been requested and all data has been successfully submitted
      summary: Large request sending webhook
      operationId: largeRequestSendingWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LargeRequestSendingEvent'
      responses:
        '200':
          description: Successful large request sending response
  large_request_processing:
    post:
      description: Occurs when more a request for over one month of data has been submitted to Terra. Data will be sent in chunks with the same reference field after this request. Each chunk will be at
        most 10 objects in the data field or 10 MB in size, whichever limit gets hit first
      summary: Large request processing webhook
      operationId: largeRequestProcessingWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LargeRequestProcessingEvent'
      responses:
        '200':
          description: Successful large request processing response
  rate_limit_hit:
    post:
      description: Occurs when an asynchronous request has failed due to rate limiting and is going to be retried.
      summary: Rate limit hit webhook
      operationId: rateLimitHitWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RateLimitHitEvent'
      responses:
        '200':
          description: Successful rate limit hit response
  s3_upload:
    post:
      description: Data event sent as a download link.
      summary: S3 upload webhook
      operationId: s3UploadWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3PayloadEvent'
      responses:
        '200':
          description: Successful S3 upload response
  activity:
    post:
      description: 'activity data event: activity updates when new activity is completed'
      summary: Activity webhook
      operationId: activityWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityEvent'
      responses:
        '200':
          description: Successful activity response
  athlete:
    post:
      description: 'athlete data event: Occurs throughout the day as users use their wearables.'
      summary: Athlete webhook
      operationId: athleteWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AthleteEvent'
      responses:
        '200':
          description: Successful athlete response
  nutrition:
    post:
      description: 'nutrition data event: occurs throughout the day as users use their wearables.'
      summary: Nutrition webhook
      operationId: nutritionWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NutritionEvent'
      responses:
        '200':
          description: Successful nutrition response
  daily:
    post:
      description: 'daily data event: occurs throughout the day as users use their wearables.'
      summary: Daily webhook
      operationId: dailyWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailyEvent'
      responses:
        '200':
          description: Successful daily response
  sleep:
    post:
      description: 'sleep data event: occurs throughout the day as users use their wearables.'
      summary: Sleep webhook
      operationId: sleepWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepEvent'
      responses:
        '200':
          description: Successful sleep response
  menstruation:
    post:
      description: 'menstruation data event: occurs throughout the day as users use their wearables.'
      summary: Menstruation webhook
      operationId: menstruationWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenstruationEvent'
      responses:
        '200':
          description: Successful menstruation response
  body:
    post:
      description: 'body data event: occurs throughout the day as users use their wearables.'
      summary: Body webhook
      operationId: bodyWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodyEvent'
      responses:
        '200':
          description: Successful body response
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key for authentication
    DevID:
      type: apiKey
      in: header
      name: dev-id
      description: Your developer ID for authentication and tracking
  schemas:
    WidgetSessionParams:
      type: object
      properties:
        providers:
          type: string
          description: Comma separated list of providers to display on the device selection page. This overrides your selected sources on your dashboard
          example: GARMIN,FITBIT,OURA,WITHINGS,SUUNTO
        language:
          type: string
          description: Display language of the widget
          example: en
        reference_id:
          type: string
          description: Identifier of the end user on your system, such as a user ID or email associated with them
          example: user123@email.com
        auth_success_redirect_url:
          type: string
          description: URL the user is redirected to upon successful authentication
          example: https://myapp.com/success
        auth_failure_redirect_url:
          type: string
          description: URL the user is redirected to upon unsuccessful authentication
          example: https://myapp.com/failure
    User:
      $ref: '#/components/schemas/TerraUser'
    NoDataReturned:
      type: object
      properties:
        status:
          type: string
          enum:
          - success
          - error
          example: error
        message:
          type: string
          example: No data available for specified time range
        type:
          type: string
          example: no_data
          nullable: true
        user:
          description: Terra User object
          type: object
          allOf:
          - $ref: '#/components/schemas/TerraUser'
    RequestProcessing:
      type: object
      properties:
        retry_after_seconds:
          type: number
          description: Recommended time after which the request may be retried
          nullable: true
          example: 30
        message:
          type: string
          nullable: false
          example: Request is being processed
        type:
          type: string
          nullable: false
          example: processing
        user:
          description: Terra User object
          type: object
          allOf:
          - $ref: '#/components/schemas/TerraUser'
    RateLimitRequestProcessing:
      type: object
      properties:
        message:
          type: string
          nullable: false
          example: Rate limit exceeded
        type:
          type: string
          nullable: false
          example: rate_limit
        user:
          $ref: '#/components/schemas/TerraUser'
      required:
      - user
    DataSentToWebhook:
      type: object
      properties:
        reference:
          type: string
          description: Payload reference, tying the request to the webhook payload which will be received
          nullable: true
          example: webhook_ref_123
        message:
          type: string
          nullable: false
          example: Data will be sent to webhook
        type:
          type: string
          nullable: false
          example: webhook
        user:
          description: Terra User object
          type: object
          allOf:
          - $ref: '#/components/schemas/TerraUser'
    Activity:
      type: object
      properties:
        active_durations_data:
          $ref: '#/components/schemas/ActiveDurationsData'
          description: Number of minutes spent at various intensities during the workout, as reported by the Fitness Data provider.
        calories_data:
          $ref: '#/components/schemas/CaloriesData'
          description: Object containing calorie-related information for the user during the specific workout.
        cheat_detection:
          type: number
          description: Cheat detection flag.
          example: 0
        data_enrichment:
          $ref: '#/components/schemas/DataEnrichment'
          description: Object containing Terra Scores.
        device_data:
          $ref: '#/components/schemas/DeviceData'
          description: Object containing information on the device which recorded the specific workout.
        distance_data:
          $ref: '#/components/schemas/DistanceData'
          description: Object containing information related to distance covered during the associated workout.
        energy_data:
          $ref: '#/components/schemas/EnergyData'
          description: Object containing information on the energy expended by the user during the workout.
        heart_rate_data:
          $ref: '#/components/schemas/HeartRateData'
          description: Object containing heartrate-related information for the workout.
        lap_data:
          $ref: '#/components/schemas/LapData'
          description: Object containing information on data for each lap performed by the user - mostly relates to track & field running activities, and swimming activities.
        MET_data:
          $ref: '#/components/schemas/METData'
          description: Object containing information on the Metabolic Equivalent of Task for the workout.
        metadata:
          $ref: '#/components/schemas/ActivityMetadata'
          description: Object containing workout metadata.
        movement_data:
          $ref: '#/components/schemas/MovementData'
          description: Object containing information on the user's movement throughout the workout.
        oxygen_data:
          $ref: '#/components/schemas/OxygenData'
          description: Object containing information on oxygen-related metrics for the workout.
        polyline_map_data:
          $ref: '#/components/schemas/PolylineMapData'
          description: Object containing polyline-representation map data, plotting the user's trajectory throughout the workout.
        position_data:
          $ref: '#/components/schemas/PositionData'
          description: Object containing information on the user's position throughout the workout.
        power_data:
          $ref: '#/components/schemas/PowerData'
          description: Object containing information on the power generated by the user during the workout.
        strain_data:
          $ref: '#/components/schemas/StrainData'
          description: Object containing information on the cardiovascular strain imposed on the user during the workout.
        TSS_data:
          $ref: '#/components/schemas/TSSData'
          description: Object containing information on the stress put on the user's body from a workout.
        work_data:
          $ref: '#/components/schemas/WorkData'
          description: Object containing information on the work output of the user during the workout.
      required:
      - metadata
    Athlete:
      type: object
      properties:
        age:
          type: integer
          description: User's age.
          example: 28
        country:
          type: string
          description: User's country of residence.
          example: United States
        bio:
          type: string
          description: User's bio - a short description they display on their profile.
          example: Passionate runner and cyclist
        state:
          type: string
          description: User's state of residence.
          example: California
        last_name:
          type: string
          description: User's last name.
          example: Smith
        sex:
          type: string
          description: User's sex.
          example: male
        city:
          type: string
          description: User's city of residence.
          example: San Francisco
        email:
          type: string
          description: User's email.
          example: user@example.com
        date_of_birth:
          type: string
          description: User's date of birth, in ISO8601 format.
          example: '1999-11-23'
        first_name:
          type: string
          description: User's first name.
          example: John
        gender:
          type: string
          description: User's gender.
          example: male
        joined_provider:
          type: string
          description: User's account creation date.
          example: '2023-01-15'
        devices:
          type: array
          items:
            $ref: '#/components/schemas/DeviceData'
          description: Array of devices associated with the user's account.
    AthleteCollection:
      type: object
      properties:
        athlete:
          description: Object containing the user's information
          type: object
          allOf:
          - $ref: '#/components/schemas/Athlete'
        type:
          type: string
          nullable: true
          example: athlete
        user:
          description: Terra User object
          type: object
          allOf:
          - $ref: '#/components/schemas/TerraUser'
    Body:
      type: object
      properties:
        blood_pressure_data:
          $ref: '#/components/schemas/BloodPressureData'
          description: Object containing information on user's Blood Pressure.
        device_data:
          $ref: '#/components/schemas/DeviceData'
          description: Object containing information on the device which recorded data for the payload.
        heart_data:
          $ref: '#/components/schemas/HeartData'
          description: Object containing information on user's heart metrics.
        hydration_data:
          $ref: '#/components/schemas/HydrationData'
          description: Object containing information on user's hydration (both internal & consumption of water) for the day.
        ketone_data:
          $ref: '#/components/schemas/KetoneData'
          description: Object containing information on user's ketone data for the day.
        measurements_data:
          $ref: '#/components/schemas/MeasurementsData'
          description: Object containing information on body measurements for the day.
        metadata:
          $ref: '#/components/schemas/BodyMetadata'
          description: Object containing daily summary metadata.
        oxygen_data:
          $ref: '#/components/schemas/OxygenData'
          description: Object containing information on user's oxygen-related data.
        temperature_data:
          $ref: '#/components/schemas/TemperatureData'
          description: Object containing temperature information (core, skin, ambient) during the day.
        glucose_data:
          $ref: '#/components/schemas/GlucoseData'
          description: Object containing information on user's blood glucose for the day.
      required:
      - metadata
    Daily:
      type: object
      properties:
        active_durations_data:
          $ref: '#/components/schemas/ActiveDurationsData'
          description: Object containing information related to the time spent in different activity intensities during over the day.
        calories_data:
          $ref: '#/components/schemas/CaloriesData'
          description: Object containing calorie-related information for the user during the specific day.
        data_enrichment:
          $ref: '#/components/schemas/DailyDataEnrichment'
          description: Object containing additional enrichment data for the day.
        device_data:
          $ref: '#/components/schemas/DeviceData'
          description: Object containing information on the device which recorded data for the day.
        distance_data:
          $ref: '#/components/schemas/DailyDistanceData'
          description: Object containing information related to distance covered during the associated day.
        heart_rate_data:
          $ref: '#/components/schemas/HeartRateData'
          description: Object containing heartrate-related information for the day.
        MET_data:
          $ref: '#/components/schemas/METData'
          description: Object containing information on the Metabolic Equivalent of Task for the day.
        metadata:
          $ref: '#/components/schemas/DailyMetadata'
          description: Object containing daily summary metadata.
        oxygen_data:
          $ref: '#/components/schemas/OxygenData'
          description: Object containing information on oxygen-related metrics for the day.
        scores:
          $ref: '#/components/schemas/ScoresData'
          description: Scores for the user's performance on different metrics for the given day, as calculated by the fitness data provider.
        strain_data:
          $ref: '#/components/schemas/StrainData'
          description: Object containing information on the strain put on the user's body over a day.
        stress_data:
          $ref: '#/components/schemas/StressData'
          description: Object containing information on the stress put on the user over a day.
        tag_data:
          $ref: '#/components/schemas/TagData'
          description: Object containing all user-entered or automatically tagged events in the day.
      required:
      - metadata
    Menstruation:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/MenstruationMetadata'
          description: Object containing daily summary metadata.
        menstruation_data:
          $ref: '#/components/schemas/MenstruationData'
          description: Object containing information on user's menstruation for a given day.
      required:
      - metadata
    Nutrition:
      type: object
      properties:
        drink_samples:
          type: array
          items:
            $ref: '#/components/schemas/DrinkSample'
          description: Information on drinks the user consumed throughout the day.
        meals:
          type: array
          items:
            $ref: '#/components/schemas/Meal'
          description: Information on individual foods consumed throughout a given day.
        metadata:
          $ref: '#/components/schemas/NutritionMetadata'
          description: Object containing daily summary metadata.
        summary:
          $ref: '#/components/schemas/NutritionSummary'
          description: Summative nutritional information for a given day.
      required:
      - metadata
    Sleep:
      type: object
      properties:
        data_enrichment:
          $ref: '#/components/schemas/SleepDataEnrichment'
          description: Object containing additional enrichment data for the sleep session.
        device_data:
          $ref: '#/components/schemas/DeviceData'
          description: Object containing information on the device which recorded data for the payload.
        heart_rate_data:
          $ref: '#/components/schemas/HeartRateData'
          description: Object containing information on the user's heart rate during the sleep session.
        metadata:
          $ref: '#/components/schemas/SleepMetadata'
          description: Object containing daily summary metadata.
        readiness_data:
          $ref: '#/components/schemas/ReadinessData'
          description: Object containing information on the user's readiness for the day, based off the quality and duration of their sleep.
        respiration_data:
          $ref: '#/components/schemas/RespirationData'
          description: Object containing information on the user's respiration throughout the sleep session.
        scores:
          type: object
          properties:
            sleep:
              type: number
              description: User's sleep score.
          description: User's sleep score
        sleep_durations_data:
          $ref: '#/components/schemas/SleepDurationsData'
          description: Object containing information on the user's duration spent in various sleep stages.
        temperature_data:
          $ref: '#/components/schemas/SleepTemperatureData'
          description: Object containing body temperature information of the user during the sleep recording session.
      required:
      - metadata
    PlannedWorkoutStepTarget:
      type: object
      properties:
        target_type:
          description: Type of target for the workout - i.e. metric type for which a criterion must be met for the workout to be completed
          nullable: false
          type: string
          enum:
          - SPEED
          - HEART_RATE
          - OPEN
          - CADENCE
          - POWER
          - GRADE
          - RESISTANCE
          - POWER_LAP
          - SWIM_STROKE
          - SPEED_LAP
          - HEART_RATE_LAP
          - PACE
          - HEART_RATE_THRESHOLD_PERCENTAGE
          - HEART_RATE_MAX_PERCENTAGE
          - SPEED_PERCENTAGE
          - POWER_PERCENTAGE
          - REPETITION
          - TSS
          - IF
          example: HEART_RATE
    CadencePlannedWorkoutStepTarget:
      type: object
      properties:
        cadence:
          type: integer
          description: Ideal cadence value to be maintained for the workout step
          nullable: true
          example: 90
        target_type:
          description: Type of target for the workout - i.e. metric type for which a criterion must be met for the workout to be completed
          nullable: false
          type: string
          enum:
          - SPEED
[...]
