openapi: 3.0.3
info:
  description: The Terra API (v2 surface, served at access.tryterra.co/api/v2).
  title: TerraAPI
  version: 2026.08.28
  license:
    name: Apache-2.0
    url: https://github.com/tryterra/openapi/blob/master/LICENSE
  termsOfService: https://tryterra.co/terms-of-service
  contact:
    name: Terra API
    url: https://tryterra.co/
    email: dev@tryterra.co
servers:
- url: https://access.tryterra.co/api/v2
security:
- ApiKeyAuth: []
  DevID: []
paths:
  /auth/authenticateUser:
    post:
      summary: Generate an authentication link
      description: Creates a login link that allows end users to connect their fitness tracking account
      tags:
      - Authentication
      operationId: Authentication_AuthenticateUser
      parameters:
      - name: resource
        in: query
        description: Provider resource identifier (e.g., 'FITBIT', 'GARMIN', 'OURA'). See "Get detailed list of integrations" for available providers
        schema:
          type: string
        example: FITBIT
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                reference_id:
                  type: string
                auth_success_redirect_url:
                  type: string
                auth_failure_redirect_url:
                  type: string
                sdk_app:
                  type: string
                  enum:
                  - avengers
                  - grip
                  description: Which Terra reference app an APPLE_HEALTH authentication link hands the end user to. Omit to use Terra Avengers. Sending this for any other resource has no effect.
        required: false
      responses:
        '200':
          description: Returned when authentication link could be successfully generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that the request was successful
                    example: success
                  user_id:
                    description: User ID for the user being created
                    type: string
                    example: 23dc2540-7139-44c6-8158-f81196e2cf2e
                  auth_url:
                    type: string
                    description: authentication URL the user must be redirected to in order to link their account
                    example: https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23BBG9&scope=settings+nutrition+sleep+heartrate+electrocardiogram+weight+respiratory_rate+oxygen_saturation+profile+temperature+cardio_fitness+activity+location&state=bLqqjPie9ptwoWm6VBxHCu6JkkoWJp
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/generateWidgetSession:
    post:
      summary: Generate a Terra Widget session link
      description: Returns a Terra Widget session with a hosted URL where the end user selects a provider and logs in.
      tags:
      - Authentication
      operationId: Authentication_GenerateWidgetSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetSessionParams'
        required: true
      responses:
        '200':
          description: Returned when authentication link could be successfully generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    description: Session ID for the widget authentication session
                    type: string
                    example: 23dc2540-7139-44c6-8158-f81196e2cf2e
                  url:
                    type: string
                    description: the widget URL the user must be redirected to in order to link their account
                    example: https://widget.tryterra.co/session/344d475f-296a-489a-a88c-54183671dafd
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that the request was successful (value is success)
                    example: success
                  expires_in:
                    type: number
                    description: a number in seconds depicting how long the url is valid for
                    example: 900
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/deauthenticateUser:
    delete:
      summary: Deauthenticate a user
      description: Deletes every record Terra holds for the user, including any cached data, and revokes Terra's access to their provider data.
      tags:
      - Authentication
      operationId: Authentication_DeauthenticateUser
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to deauthenticate and remove from Terra system
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Returned when user is successfully deauthenticated and data is deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    enum:
                    - success
                    - error
                    description: indicates that the deauthentication was successful (value is success)
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/tokens:
    post:
      tags:
      - Authentication
      summary: Generate a mobile SDK auth token
      description: Creates a token to be used with initConnection() functions in the Terra mobile SDKs in order to create a user record for Apple Health or Samsung Health (or equivalent)
      operationId: Authentication_CreateAuthToken
      parameters:
      - name: reference_id
        in: query
        description: Your identifier for the end user this token is being issued for. When supplied, the token is bound to it and redemption ignores the reference_id the SDK sends, so a token cannot be
          used to attach a device to a different user. Omit to keep the SDK-supplied value.
        required: false
        schema:
          type: string
        example: user-42
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: success
                    token: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                    expires_in: 180
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  token:
                    type: string
                    example: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                  expires_in:
                    type: integer
                    example: 180
                    default: 0
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/generateAuthToken:
    post:
      tags:
      - Authentication
      summary: Generate a mobile SDK auth token (deprecated)
      description: Deprecated spelling of POST /auth/tokens, which it is identical to. Kept indefinitely because shipped mobile SDK versions call this path; new integrations should use POST /auth/tokens.
      operationId: Authentication_GenerateAuthToken
      parameters:
      - name: reference_id
        in: query
        description: Your identifier for the end user this token is being issued for. When supplied, the token is bound to it and redemption ignores the reference_id the SDK sends, so a token cannot be
          used to attach a device to a different user. Omit to keep the SDK-supplied value.
        required: false
        schema:
          type: string
        example: user-42
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: success
                    token: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                    expires_in: 180
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  token:
                    type: string
                    example: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                  expires_in:
                    type: integer
                    example: 180
                    default: 0
        '404':
          $ref: '#/components/responses/NotFound'
      deprecated: true
  /activity:
    get:
      summary: Retrieve activity data
      description: Returns completed workout sessions, each with a defined start and end time and an activity type such as running or cycling.
      tags:
      - Activity
      operationId: Activity_Get
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Activity'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /athlete:
    get:
      summary: Retrieve athlete profile
      description: Returns the user profile, such as first and last name, birth date and gender.
      tags:
      - Athlete
      operationId: Athlete_Get
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AthleteCollection'
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /body:
    get:
      summary: Retrieve body metrics
      description: Returns body metrics such as weight, height and body-fat percentage.
      tags:
      - Body
      operationId: Body_Get
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Body'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /daily:
    get:
      summary: Retrieve daily summaries
      description: Returns daily summaries of activity metrics such as steps, distance and calories burned.
      tags:
      - Daily
      operationId: Daily_Get
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Daily'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /menstruation:
    get:
      summary: Retrieve menstruation data
      description: Returns menstruation data such as cycle length, period length and ovulation date.
      tags:
      - Menstruation
      operationId: Menstruation_Get
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Menstruation'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nutrition:
    get:
      summary: Retrieve nutrition data
      description: Returns nutrition data such as meal type, calories and macronutrients.
      tags:
      - Nutrition
      operationId: Nutrition_Get
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Nutrition'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /sleep:
    get:
      summary: Retrieve sleep sessions
      description: Returns sleep sessions, each with a defined start and end time, such as sleep duration, stages and quality.
      tags:
      - Sleep
      operationId: Sleep_Get
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Sleep'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workouts:
    post:
      tags:
      - Workouts
      summary: Create a workout template
      description: 'Stores a reusable workout template. Plan it onto a user''s calendar with `POST /workouts/{workout_id}/plan`; the template itself carries no date and is not pushed to any provider until
        planned.

        '
      operationId: Workouts_CreateWorkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutTemplate'
      responses:
        '200':
          description: Template stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                  workout_id:
                    type: string
                    example: '1024'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Workouts
      summary: List workout templates
      description: Returns every workout template stored for your developer account.
      operationId: Workouts_ListWorkouts
      responses:
        '200':
          description: Stored templates, each including its workout_id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkoutTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /workouts/{workout_id}:
    get:
      tags:
      - Workouts
      summary: Get a workout template
      operationId: Workouts_GetWorkout
      parameters:
      - name: workout_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '200':
          description: The stored template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Workouts
      summary: Delete a workout template
      description: 'Deletes the template and cascades deletion of every planned workout created from it, including removal from connected providers.

        '
      operationId: Workouts_DeleteWorkout
      parameters:
      - name: workout_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      responses:
        '204':
          description: Template and all planned instances deleted
        '207':
          description: 'Some provider-side deletions failed; the template is retained. Retry to complete the cascade.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          description: Provider-side deletion could not be performed; retry later.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /workouts/{workout_id}/plan:
    post:
      tags:
      - Workouts
      summary: Plan a workout onto a user's calendar
      description: 'Schedules the workout template for a user on a given date and pushes it to the user''s connected provider (or queues it for SDK delivery). Athlete metrics personalise zone-based targets
        for this plan only.

        '
      operationId: Workouts_PlanWorkout
      parameters:
      - name: workout_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: user_id
        in: query
        required: true
        description: Terra user ID of the connection to plan the workout for
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - planned_date
              properties:
                planned_date:
                  type: string
                  format: date
                  description: Date to schedule the workout on (YYYY-MM-DD)
                ftp:
                  type: number
                  description: Functional Threshold Power in watts
                max_heart_rate:
                  type: number
                  description: Maximum heart rate in BPM
                threshold_heart_rate:
                  type: number
                  description: Threshold heart rate in BPM
                threshold_speed:
                  type: number
                  description: Threshold speed in m/s
                pool_length_meters:
                  type: number
                  description: Pool length in meters (overrides the template value)
      responses:
        '201':
          description: Planned workout created and pushed (or queued for SDK delivery)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                  planned_workout_id:
                    type: string
                    example: '2048'
                  provider_workout_id:
                    type: string
                    description: Identifier assigned by the provider. Absent for SDK-delivered plans.
                  coercion_warnings:
                    type: string
                    description: Set when the template could not be represented exactly on the provider.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The Planned Workouts add-on is not enabled for this account.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          description: The provider rejected the workout push; retry later.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /plannedWorkouts:
    get:
      tags:
      - Workouts
      summary: List planned workouts
      description: 'Returns the user''s planned workouts, including workouts created on the provider side (is_external true) where the provider exposes them. External workouts carry their full body (title,
        description, planned metrics, structured steps) under `details`; they are fetched live from the provider and are not stored by Terra. Note that providers may limit how far ahead planned workouts
        are visible.

        '
      operationId: Workouts_ListPlannedWorkouts
      parameters:
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      - name: start_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: 'Start of the planned-date window (YYYY-MM-DD). When start_date and end_date are omitted, provider-side workouts default to the trailing 30 days; pass an explicit window to list upcoming
          workouts.

          '
      - name: end_date
        in: query
        required: false
        schema:
          type: string
          format: date
        description: End of the planned-date window (YYYY-MM-DD), inclusive.
      responses:
        '200':
          description: Planned workouts for the connection
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlannedWorkout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /plannedWorkouts/{planned_workout_id}:
    get:
      tags:
      - Workouts
      summary: Get a planned workout
      description: 'Returns a planned workout created through Terra. Provider-created (external) workouts are not addressable by id — they are returned by the list endpoint with their full body under `details`.

        '
      operationId: Workouts_GetPlannedWorkout
      parameters:
      - name: planned_workout_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The planned workout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedWorkoutSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Workouts
      summary: Reschedule a planned workout
      operationId: Workouts_UpdatePlannedWorkout
      parameters:
      - name: planned_workout_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - planned_date
              properties:
                planned_date:
                  type: string
                  format: date
                  description: New scheduled date (YYYY-MM-DD)
      responses:
        '200':
          description: Updated planned workout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedWorkoutSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: The Planned Workouts add-on is not enabled for this account.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Workouts
      summary: Delete a planned workout
      description: Removes the planned workout from the user's calendar and from the connected provider.
      operationId: Workouts_DeletePlannedWorkout
      parameters:
      - name: planned_workout_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Planned workout deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /userInfo:
    get:
      tags:
      - User
      operationId: User_Get
      description: Returns the Terra user for a given user ID, or every user registered under a given reference ID.
      summary: Get user info by user ID or reference ID
      parameters:
      - name: user_id
        in: query
        description: user ID to query for
        schema:
          type: string
        required: false
      - name: reference_id
        in: query
        description: reference ID to query for
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Returned when the provided resources are found
          content:
            application/json:
              schema:
                oneOf:
                - description: User information for one connection (single User object)
                  type: object
                  properties:
                    user:
                      description: 'The connection. In addition to the base User fields, this endpoint also returns polling metadata.

                        '
                      allOf:
                      - $ref: '#/components/schemas/TerraUser'
                      - type: object
                        properties:
                          last_polled_at:
                            type: string
                            format: date-time
                            description: Last time Terra polled the provider for this connection.
                            example: '2024-01-20T11:00:00Z'
                            nullable: true
                          most_recent_data_at:
                            type: string
                            format: date-time
                            description: Timestamp of the most recent data point Terra holds for this connection.
                            example: '2024-01-19T23:00:00Z'
                            nullable: true
                    status:
                      type: string
                      enum:
                      - success
                      - error
                      default: success
                    is_authenticated:
                      type: boolean
                - description: List of multiple User objects the reference_id is associated to
                  type: array
                  items:
                    $ref: '#/components/schemas/TerraUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /subscriptions:
    get:
      tags:
      - User
      operationId: User_List
      description: Returns all Terra users. Supports optional pagination via `page` and `per_page`; if `page` is omitted, every user is returned in one response for backwards compatibility.
      summary: List all user IDs
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Zero-based page number. If omitted, results are not paginated.
        example: 0
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of results per page (default is 500).
        example: 500
      responses:
        '200':
          description: Returned upon a successful request
          content:
            application/json:
              schema:
                type: object
                description: If `page` is omitted, `users` contains every user. If `page` is provided, `results`, `max_page`, and `next` contain the paginated response.
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    default: success
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/TerraUser'
                  next:
                    type: integer
                    description: The next page number, or null if there is no next page
                    nullable: true
                  max_page:
                    type: integer
                    description: Total number of pages available for the requested page size
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/TerraUser'
        '400':
          $ref: '#/components/responses/BadRequest'
  /bulkUserInfo:
    post:
      tags:
      - User
      operationId: User_BatchGet
      description: Returns the Terra users for a batch of user IDs.
      summary: Get info for multiple users
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: List of user IDs to get information for
              items:
                type: string
        required: true
      responses:
        '200':
          description: Returned upon successful request
          content:
            application/json:
              schema:
                description: List of User objects
                type: array
                items:
                  $ref: '#/components/schemas/TerraUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /integrations:
    get:
      summary: List available integrations
      tags:
      - Integrations
      operationId: Integrations_List
      description: Returns all provider integrations available on the API.
      security: []
      responses:
        '200':
          description: Returns list of all available integrations on the API
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: string
                      example: FITBIT
                  sdk_providers:
                    type: array
                    description: Providers available through Terra's mobile SDKs rather than cloud connections
                    items:
                      type: string
                      example: APPLE
                  status:
                    enum:
                    - success
                    - error
                    type: string
                    default: success
  /integrations/detailed:
    get:
      tags:
      - Integrations
      operationId: Integrations_ListDetailed
      summary: List integrations with details
      description: Returns supported integrations with details, optionally filtered to your enabled integrations and to those that require the SDK.
      parameters:
      - in: query
        name: sdk
        required: false
        schema:
          type: boolean
        description: If `true`, allows SDK integrations to be included in the response.
      responses:
        '200':
          description: Successful response containing a list of integrations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsResponse'
      security: []
  /lab-reports:
    post:
      summary: Upload a lab report
      description: Upload a single lab report file (PDF, PNG, JPEG, GIF, or WebP) as multipart form data. Returns an `upload_id`; a single upload may fan out to multiple sessions, so learn the `session_id`(s)
        from the webhook events or from `GET /lab-reports?upload_id=...`.
      tags:
      - LabReports
      operationId: LabReports_Upload
      parameters:
      - name: reference_id
        in: query
        required: false
        description: Your external identifier for this report or patient.
        schema:
          type: string
        example: patient_456
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - file
              properties:
                file:
                  type: string
                  format: binary
                  description: The lab report file (PDF, PNG, JPEG, GIF, or WebP; max 20 MB).
      responses:
        '202':
          description: Upload accepted for processing.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabReportUploadResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          $ref: '#/components/responses/PayloadTooLarge'
    get:
      summary: List lab report sessions
      description: List lab report sessions for your account, with optional reference, upload, and inclusive date-range filters. Use the date filters to narrow large result sets.
      tags:
      - LabReports
      operationId: LabReports_List
      parameters:
      - name: reference_id
        in: query
        required: false
        description: Filter by your external reference ID.
        schema:
          type: string
      - name: upload_id
        in: query
        required: false
        description: Filter by upload handle — returns every report from that upload.
        schema:
          type: string
      - name: report_date_from
        in: query
        required: false
        description: Lab report date lower bound (inclusive, ISO-8601 `YYYY-MM-DD`).
        schema:
          type: string
          format: date
      - name: report_date_to
        in: query
        required: false
        description: Lab report date upper bound (inclusive, ISO-8601 `YYYY-MM-DD`).
        schema:
          type: string
          format: date
      - name: uploaded_at_from
        in: query
        required: false
        description: Upload date lower bound (inclusive, ISO-8601 `YYYY-MM-DD`).
        schema:
          type: string
          format: date
      - name: uploaded_at_to
        in: query
        required: false
        description: Upload date upper bound (inclusive, ISO-8601 `YYYY-MM-DD`).
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A list of lab report sessions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabReportListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /lab-reports/{session_id}:
    get:
      summary: Retrieve a lab report session
      description: Retrieve a report's metadata, results, reference ranges, and status history. Immutable and cacheable — presigned file URLs and mutable per-destination delivery state live on the `/files`
        and `/deliveries` sub-resources.
      tags:
      - LabReports
      operationId: LabReports_Get
      parameters:
      - name: session_id
        in: path
        required: true
        description: The session's snowflake ID.
        schema:
          type: string
        example: '297405620317847552'
      responses:
        '200':
          description: The lab report session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabReportSession'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      summary: Delete a lab report session
      description: Soft-delete a session. It is marked deleted immediately; associated storage is cleaned up by a background process.
      tags:
      - LabReports
      operationId: LabReports_Delete
      parameters:
      - name: session_id
        in: path
        required: true
        description: The session's snowflake ID.
        schema:
          type: string
        example: '297405620317847552'
      responses:
        '204':
          description: The session was deleted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /lab-reports/{session_id}/deliveries:
    get:
      summary: List delivery outcomes
      description: The per-destination delivery state for a report. Each opted-in destination is tracked independently, so one failure never hides delivery to the others (and is why a session can be `partially_sent`).
      tags:
      - LabReports
      operationId: LabReports_ListDeliveries
      parameters:
      - name: session_id
        in: path
        required: true
        description: The session's snowflake ID.
        schema:
          type: string
        example: '297405620317847552'
      responses:
        '200':
          description: Per-destination delivery outcomes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabReportDeliveriesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /lab-reports/{session_id}/files:
    get:
      summary: List input files
      description: The uploaded input files and report thumbnail, with freshly minted presigned download URLs. URLs expire; fetch again to mint new ones.
      tags:
      - LabReports
      operationId: LabReports_ListFiles
      parameters:
      - name: session_id
        in: path
        required: true
        description: The session's snowflake ID.
        schema:
          type: string
        example: '297405620317847552'
      responses:
        '200':
          description: Input files and thumbnail with presigned URLs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabReportFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
webhooks:
  auth:
    post:
      description: Fires when a user completes or abandons connecting a provider account through Terra. The success arm (type `auth`) carries the new `user` object and your `reference_id`; the failure or
        cancellation arm (type `auth_cancelled`) carries no user, only a `reason` and the `reference_id`. On success, persist the user and link it to your end user through `reference_id`; on cancellation,
        treat it as a failed attempt with nothing to store.
      summary: User authentication event
      operationId: Webhooks_UserAuth
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/AuthSuccessEvent'
              - $ref: '#/components/schemas/AuthErrorEvent'
            examples:
              authSuccess:
                summary: Successful authentication
                value:
                  type: auth
                  status: success
                  message: User has successfully authenticated
                  widget_session_id: 3e982b74-1a94-4d9a-b6a3-f92c6e4d21b5
                  user:
                    user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                    provider: GARMIN
                    last_webhook_update: null
                    scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                    reference_id: your-user-123
                    active: true
              authCancelled:
                summary: Failed or cancelled authentication
                value:
                  type: auth_cancelled
                  status: error
                  flow_id: b2f9c611-52c8-4a63-9082-7e50e2f5a1cd
                  reason: access_denied
                  reference_id: your-user-123
      responses:
        '200':
          description: Successful authentication response
  deauth:
    post:
      description: Fires when a user disconnects a previously connected provider account. Carries the affected `user`, identified by `user_id`. Remove that user and their stored data from your system according
        to your data-retention policy.
      summary: User deauthentication event
      operationId: Webhooks_UserDeauth
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeauthEvent'
            example:
              type: deauth
              status: success
              message: User has deauthenticated
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: false
      responses:
        '200':
          description: Successful deauthentication response
  user_reauth:
    post:
      description: Fires when a user re-authenticates a provider already connected under the same `reference_id`, which replaces the old connection with a new `user_id`. The payload carries both `old_user`,
        the record being deleted, and `new_user`, the replacement. Re-key your storage from `old_user.user_id` to `new_user.user_id` and drop the old record; a normal `auth` event is delivered for the same
        reconnection.
      summary: User reauthentication event
      operationId: Webhooks_UserReauth
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserReauthEvent'
            example:
              type: user_reauth
              status: warning
              message: User has reauthenticated and old ID has been deleted
              version: '2022-03-16'
              new_user:
                user_id: 9c8b7a65-4321-4fed-a0b9-87c6d5e4f321
                provider: GARMIN
                last_webhook_update: '2026-07-02T08:03:11.204000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              old_user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-06-28T17:40:52.118000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: false
      responses:
        '200':
          description: Successful reauthentication response
  access_revoked:
    post:
      description: Fires when a user revokes Terra's access from the provider's side, for example in their wearable app's settings. Carries the affected `user`. Remove the user and their stored data according
        to your data-retention policy.
      summary: Access revoked event
      operationId: Webhooks_AccessRevoked
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRevokedEvent'
            example:
              type: access_revoked
              status: warning
              message: User revoked access
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: false
      responses:
        '200':
          description: Successful access revocation response
  permission_change:
    post:
      description: 'Fires when the set of scopes a user has granted changes on the provider side. Carries the `user` with its current `scopes`, along with `scopes_added` and `scopes_removed`. Treat it as
        informational: it explains why some data types may later start or stop being delivered.'
      summary: Permission change event
      operationId: Webhooks_PermissionChange
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionChangeEvent'
            example:
              type: permission_change
              status: warning
              message: User permissions have been modified
              version: '2022-03-16'
              scopes_added: BODY_EXPORT
              scopes_removed: ''
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT,BODY_EXPORT
                reference_id: your-user-123
                active: true
      responses:
        '200':
          description: Successful permission change response
  connection_error:
    post:
      description: Fires when a request to a provider returns HTTP 401, 403 or 412, meaning the stored credentials are no longer valid. Carries the affected `user`. Unlike `access_revoked`, Terra cannot
        tell whether the user deliberately revoked access or the failure is transient, so prompt the user to reconnect before removing their data.
      summary: Connection error event
      operationId: Webhooks_ConnectionError
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionErrorEvent'
            example:
              type: connection_error
              status: warning
              message: 'Connection degraded: the provider rejected Terra''s access token; the user may need to reauthenticate'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
      responses:
        '200':
          description: Successful connection error response
  large_request_sending:
    post:
      description: Fires just before Terra begins delivering the data for a large historical request of more than one month. Carries `expected_payloads`, the number of chunked data events that will follow,
        all sharing one `terra_reference`. Use it to track sync progress and to know when every chunk has arrived.
      summary: Large request sending event
      operationId: Webhooks_LargeRequestSending
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LargeRequestSendingEvent'
            example:
              type: large_request_sending
              reference: d3f1a9c2-6b1e-4f0a-8f21-9e5b2c7a4d10
              message: Large request payloads are being sent
              expected_payloads: 43
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
      responses:
        '200':
          description: Successful large request sending response
  large_request_processing:
    post:
      description: Fires when you request more than one month of a user's data, acknowledging that Terra has begun assembling it. The data follows as a series of data events that share one `terra_reference`,
        each capped at 10 MB. Correlate the chunks back to the original request through `terra_reference`; a `large_request_sending` event announces how many will arrive.
      summary: Large request processing event
      operationId: Webhooks_LargeRequestProcessing
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LargeRequestProcessingEvent'
            example:
              type: large_request_processing
              status: processing
              reference: d3f1a9c2-6b1e-4f0a-8f21-9e5b2c7a4d10
              message: Large request is being processed; payloads will be delivered when ready
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
      responses:
        '200':
          description: Successful large request processing response
  s3_upload:
    post:
      description: Fires in place of a normal data event when a payload is too large to deliver inline, for destinations configured in ping mode. Carries a `type` of `s3_payload` and a pre-signed, time-limited
        `url` (valid for `expires_in` seconds) instead of the data itself. Download the JSON from `url` before it expires and process it exactly as the equivalent inline data event.
      summary: S3 upload event
      operationId: Webhooks_S3Upload
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3PayloadEvent'
            example:
              type: s3_payload
              status: success
              url: https://terra-payload-bucket.s3.eu-west-2.amazonaws.com/payloads/40f7b0e1/activity-2026-07-01.json?X-Amz-Signature=...
              expires_in: 300
      responses:
        '200':
          description: Successful S3 upload response
  activity:
    post:
      description: Fires when a new completed activity is available, such as a tracked run or ride with a defined start and end. Carries a `data` array of activity sessions for the `user`. Deliveries are
        at-least-once, so deduplicate on `metadata.summary_id` and overwrite rather than append; on webhook destinations the newer copy carries a higher `x-terra-ordering-timestamp` header.
      summary: Activity event
      operationId: Webhooks_ActivityData
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityEvent'
            example:
              type: activity
              version: '2022-03-16'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              data:
              - metadata:
                  name: Morning Run
                  summary_id: 123e4567-e89b-12d3-a456-426614174000
                  start_time: '2026-07-01T07:04:11.000000+01:00'
                  end_time: '2026-07-01T07:52:48.000000+01:00'
                  type: 8
                  upload_type: 1
                distance_data:
                  summary:
                    distance_meters: 8250.4
                    steps: 7902
                calories_data:
                  total_burned_calories: 512.5
                  net_activity_calories: 431.2
                heart_rate_data:
                  summary:
                    avg_hr_bpm: 148.2
                    max_hr_bpm: 181
      responses:
        '200':
          description: Successful activity response
  athlete:
    post:
      description: Fires when a user's athlete profile becomes available or changes, such as name, birth date or gender. Carries the `user` and their profile `data`. Store it against the user; unlike the
        time-series events there is no per-record deduplication key.
      summary: Athlete event
      operationId: Webhooks_AthleteData
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AthleteEvent'
            example:
              type: athlete
              version: '2022-03-16'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              athlete:
                first_name: John
                last_name: Smith
                sex: male
                date_of_birth: '1991-04-12'
                email: john.smith@example.com
                city: San Francisco
                country: United States
      responses:
        '200':
          description: Successful athlete response
  nutrition:
    post:
      description: Fires when new nutrition data is available, such as logged meals, calories and macronutrients. Carries a `data` array for the `user`. Deliveries are at-least-once, so overwrite keyed
        on `metadata.start_time`; on webhook destinations the newer copy carries a higher `x-terra-ordering-timestamp` header.
      summary: Nutrition event
      operationId: Webhooks_NutritionData
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NutritionEvent'
            example:
              type: nutrition
              version: '2022-03-16'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              data:
              - metadata:
                  start_time: '2026-07-01T00:00:00.000000+01:00'
                  end_time: '2026-07-02T00:00:00.000000+01:00'
                summary:
                  macros:
                    calories: 2105
                    protein_g: 128.4
                    carbohydrates_g: 231
                    fat_g: 71.3
                  water_ml: 2300
      responses:
        '200':
          description: Successful nutrition response
  daily:
    post:
      description: Fires as a user's daily totals accrue, carrying the running summary up to the moment of the event, such as steps, calories and distance. Each payload is a cumulative superset for the
        24-hour window identified by `metadata.start_time`, so overwrite the stored record for that date rather than appending. Deliveries are at-least-once; on webhook destinations the newer copy carries
        a higher `x-terra-ordering-timestamp` header.
      summary: Daily event
      operationId: Webhooks_DailyData
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailyEvent'
            example:
              type: daily
              version: '2022-03-16'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              data:
              - metadata:
                  start_time: '2026-07-01T00:00:00.000000+01:00'
                  end_time: '2026-07-02T00:00:00.000000+01:00'
                  upload_type: 0
                distance_data:
                  steps: 11894
                  distance_meters: 9412.7
                calories_data:
                  total_burned_calories: 2450.8
                active_durations_data:
                  activity_seconds: 5340
      responses:
        '200':
          description: Successful daily response
  sleep:
    post:
      description: Fires when a new sleep session is available, with a defined start and end. Carries a `data` array of sleep sessions for the `user`. Deliveries are at-least-once, so overwrite keyed on
        `metadata.summary_id`; on webhook destinations the newer copy carries a higher `x-terra-ordering-timestamp` header.
      summary: Sleep event
      operationId: Webhooks_SleepData
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepEvent'
            example:
              type: sleep
              version: '2022-03-16'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              data:
              - metadata:
                  start_time: '2026-06-30T23:12:00.000000+01:00'
                  end_time: '2026-07-01T07:02:00.000000+01:00'
                  is_nap: false
                  upload_type: 1
                sleep_durations_data:
                  asleep:
                    duration_asleep_state_seconds: 25200
                    duration_deep_sleep_state_seconds: 5400
                    duration_REM_sleep_state_seconds: 5100
                  awake:
                    duration_awake_state_seconds: 1500
                  sleep_efficiency: 91.5
      responses:
        '200':
          description: Successful sleep response
  menstruation:
    post:
      description: Fires when new menstruation data is available for a day, such as cycle phase and flow. Each payload is relevant to the 24-hour window identified by `metadata.start_time`, so overwrite
        the record for that date rather than appending. Deliveries are at-least-once; on webhook destinations the newer copy carries a higher `x-terra-ordering-timestamp` header.
      summary: Menstruation event
      operationId: Webhooks_MenstruationData
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenstruationEvent'
            example:
              type: menstruation
              version: '2022-03-16'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              data:
              - metadata:
                  start_time: '2026-07-01T00:00:00.000000+01:00'
                  end_time: '2026-07-02T00:00:00.000000+01:00'
                menstruation_data:
                  period_start_date: '2026-06-28'
                  day_in_cycle: 4
                  period_length_days: 5
                  current_phase: 1
                  is_predicted_cycle: false
      responses:
        '200':
          description: Successful menstruation response
  body:
    post:
      description: Fires when new body-metric data is available for a day, such as weight, heart rate or blood-oxygen samples. Each payload is a cumulative superset for the 24-hour window identified by
        `metadata.start_time`, so overwrite the stored record for that date rather than appending. Deliveries are at-least-once; on webhook destinations the newer copy carries a higher `x-terra-ordering-timestamp`
        header.
      summary: Body event
      operationId: Webhooks_BodyData
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodyEvent'
            example:
              type: body
              version: '2022-03-16'
              user:
                user_id: 40f7b0e1-89e2-43ac-a5b8-1e29c8d47cad
                provider: GARMIN
                last_webhook_update: '2026-07-01T09:12:33.891000+00:00'
                scopes: ACTIVITY_EXPORT,HEALTH_EXPORT
                reference_id: your-user-123
                active: true
              data:
              - metadata:
                  start_time: '2026-07-01T00:00:00.000000+01:00'
                  end_time: '2026-07-02T00:00:00.000000+01:00'
                measurements_data:
                  measurements:
                  - measurement_time: '2026-07-01T07:55:02.000000+01:00'
                    weight_kg: 72.4
                    bodyfat_percentage: 17.9
                    BMI: 22.6
                heart_data:
                  heart_rate_data:
                    summary:
                      resting_hr_bpm: 52
      responses:
        '200':
          description: Successful body response
  lab_report:
    post:
      description: 'lab_report data event: sent when a lab report finishes processing. The envelope type is lab_report.completed (normalised results delivered under data) or lab_report.failed (a terminal
        failure, with a structured reason). Both share the lab_report destination event type; branch on the envelope type. Unlike wearable events these are report-scoped, so they carry no user or version.'
      summary: Lab report event
      operationId: Webhooks_LabReport
      tags:
      - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LabReportWebhook'
            examples:
              completed:
                summary: Report processed successfully
                value:
                  type: lab_report.completed
                  event_id: evt_4a2b8c1d-3f9e-4c0a-8b21-9d6e5f2a1c7b
                  occurred_at: '2026-07-01T09:12:33Z'
                  upload_id: upl_9d6e5f2a1c7b
                  data:
                    session_id: '297405620317847552'
                    reference_id: your-patient-123
                    report_date: '2026-06-30'
                    report_locale: en-GB
                    results_count: 1
                    results:
                    - source:
                        name: Haemoglobin
                        value: '14.2'
                        units: g/dL
                        collection_date: '2026-06-29'
                      biomarker:
                        key: hemoglobin
                        display_name: Hemoglobin
                        loinc_code: 718-7
                      measurement:
                        type: numeric
                        numeric: 14.2
                        units: g/dL
                        ucum_code: g/dL
                      interpretation:
                        flag: normal
                        source: report
                    panels: []
              failed:
                summary: Report terminally failed
                value:
                  type: lab_report.failed
                  event_id: evt_7c1f0a92-52c8-4a63-9082-7e50e2f5a1cd
                  occurred_at: '2026-07-01T09:15:02Z'
                  data:
                    session_id: '297405620317847552'
                    reference_id: your-patient-123
                    error:
                      code: file_unreadable
                      message: The uploaded file could not be read.
                      retriable: false
      responses:
        '200':
          description: Successful lab_report response
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key for authentication
    DevID:
      type: apiKey
      in: header
      name: dev-id
      description: Your developer ID for authentication and tracking
  responses:
    BadRequest:
      description: One or more parameters is malformed. The `detail` field describes the specific problem.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: bad request
            instance: /activity
            detail: invalid start_date
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: unauthorized
            instance: /activity
            detail: dev-id or x-api-key headers are missing
    NotFound:
      description: A referenced resource does not exist on Terra's end.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: not found
            instance: /activity
            detail: user not found
    Forbidden:
      description: The credential is not authorized for this operation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    PayloadTooLarge:
      description: The uploaded payload exceeds the size limit.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
  schemas:
    WorkoutTemplate:
      type: object
      properties:
        name:
          type: string
          description: Name of the workout
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: Description of the workout
        sport:
          $ref: '#/components/schemas/WorkoutSport'
        environment:
          anyOf:
          - $ref: '#/components/schemas/EnvironmentType'
          - type: 'null'
        pool_length_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Pool length in meters, for swim workouts
        step_blocks:
          type: array
          items:
            $ref: '#/components/schemas/StepBlock'
        estimated_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Estimated total duration in seconds
        estimated_distance_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Estimated total distance in meters
        estimated_calories:
          anyOf:
          - type: number
          - type: 'null'
          description: Estimated calories burned
        workout_id:
          anyOf:
          - type: string
          - type: 'null'
          description: Terra identifier of the stored template. Set by Terra in responses; ignored on create.
      required:
      - name
      - sport
      - step_blocks
      description: A reusable workout template, created once and planned onto user calendars
    PlannedWorkoutItem:
      $ref: '#/components/schemas/PlannedWorkout'
    PlannedWorkoutSummary:
      type: object
      description: Summary of a planned workout, returned by the get and reschedule operations.
      properties:
        planned_workout_id:
          type: string
          example: '2048'
        planned_date:
          type: string
          format: date
        is_external:
          type: boolean
          description: True when the workout was created on the provider side rather than through Terra.
        workout_id:
          type: string
          description: Identifier of the source template. Absent for external workouts.
        provider_workout_id:
          type: string
          description: Identifier assigned by the provider, once pushed.
        coercion_warnings:
          type: string
          description: Set when the template could not be represented exactly on the provider.
    Problem:
      type: object
      description: 'An error response, following RFC 9457 (Problem Details for HTTP APIs, which obsoletes RFC 7807). Returned with `Content-Type: application/problem+json` on every 4xx/5xx response. The
        HTTP status line carries the status code; it is intentionally not repeated in the body. `type`, `title` and `instance` are always present; `detail` is included when a specific explanation is available.

        '
      properties:
        type:
          type: string
          description: A URI reference identifying the problem type. Defaults to `about:blank`.
          example: about:blank
        title:
          type: string
          description: A short, human-readable summary of the problem type (the lowercased HTTP status text).
          example: unauthorized
        instance:
          type: string
          description: The request path, including any query string, that produced this problem.
          example: /api/v2/activity?user_id=d4aba475-f714-4663-88fe-28f18b8599b0&to_webhook=false
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: dev-id or x-api-key headers are missing
      required:
      - type
      - title
      - instance
    WidgetSessionParams:
      type: object
      properties:
        providers:
          type: string
          description: Comma separated list of providers to display on the device selection page. This overrides your selected sources on your dashboard
          example: GARMIN,FITBIT,OURA,WITHINGS,SUUNTO
        language:
          type: string
          description: Display language of the widget
          example: en
        reference_id:
          type: string
          description: Identifier of the end user on your system, such as a user ID or email associated with them
          example: user123@email.com
        auth_success_redirect_url:
          type: string
          description: URL the user is redirected to upon successful authentication
          example: https://myapp.com/success
        auth_failure_redirect_url:
          type: string
          description: URL the user is redirected to upon unsuccessful authentication
          example: https://myapp.com/failure
    User:
      $ref: '#/components/schemas/TerraUser'
    DataSentToWebhook:
      type: object
      description: 'Acknowledgement returned when `to_webhook` is true (the default): the requested data is fetched asynchronously and delivered to your configured destination, and this body confirms the
        request was accepted.

        '
      properties:
        status:
          type: string
          enum:
          - success
          example: success
        type:
          type: string
          description: The data type that was requested (e.g. `activity`, `sleep`).
          example: activity
        reference:
          type: string
          description: Payload reference, tying this request to the webhook payload you will receive.
          example: 5a3c2540-7139-44c6-8158-f81196e2cf2e
        trace_id:
          type: string
          description: Trace identifier for this request (equal to `reference`).
          example: 5a3c2540-7139-44c6-8158-f81196e2cf2e
        message:
          type: string
          description: Present only for large requests (date range over one month), which are delivered in chunks.
          example: Large request submitted. The data is being processed and will be sent to your destination in chunks
        user:
          type: object
          description: Summary of the connection the data was requested for.
          properties:
            user_id:
              type: string
              example: 5a3c2540-7139-44c6-8158-f81196e2cf2e
            provider:
              type: string
              example: GARMIN
            reference_id:
              type: string
              example: user123@email.com
              nullable: true
            created_at:
              type: string
              format: date-time
              example: '2024-01-15T09:30:00Z'
            active:
              type: boolean
              example: true
            scopes:
              type: string
              description: Comma-separated list of granted scopes.
              example: activity,sleep,daily
            last_webhook_update:
              type: string
              format: date-time
              example: '2024-01-20T11:00:00Z'
              nullable: true
    Activity:
      type: object
      properties:
        active_durations_data:
          anyOf:
          - $ref: '#/components/schemas/ActiveDurationsData'
          - type: 'null'
          description: Number of minutes spent at various intensities during the workout, as reported by the Fitness Data provider.
        calories_data:
          anyOf:
          - $ref: '#/components/schemas/CaloriesData'
          - type: 'null'
          description: Object containing calorie-related information for the user during the specific workout.
        cheat_detection:
          anyOf:
          - type: number
          - type: 'null'
          description: Cheat detection flag.
          example: 0
        data_enrichment:
          anyOf:
          - $ref: '#/components/schemas/DataEnrichment'
          - type: 'null'
          description: Object containing Terra Scores.
        device_data:
          anyOf:
          - $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Object containing information on the device which recorded the specific workout.
        distance_data:
          anyOf:
          - $ref: '#/components/schemas/DistanceData'
          - type: 'null'
          description: Object containing information related to distance covered during the associated workout.
        energy_data:
          anyOf:
          - $ref: '#/components/schemas/EnergyData'
          - type: 'null'
          description: Object containing information on the energy expended by the user during the workout.
        heart_rate_data:
          anyOf:
          - $ref: '#/components/schemas/HeartRateData'
          - type: 'null'
          description: Object containing heartrate-related information for the workout.
        lap_data:
          anyOf:
          - $ref: '#/components/schemas/LapData'
          - type: 'null'
          description: Object containing information on data for each lap performed by the user - mostly relates to track & field running activities, and swimming activities.
        MET_data:
          anyOf:
          - $ref: '#/components/schemas/METData'
          - type: 'null'
          description: Object containing information on the Metabolic Equivalent of Task for the workout.
        metadata:
          $ref: '#/components/schemas/ActivityMetadata'
          description: Object containing workout metadata.
        movement_data:
          anyOf:
          - $ref: '#/components/schemas/MovementData'
          - type: 'null'
          description: Object containing information on the user's movement throughout the workout.
        oxygen_data:
          anyOf:
          - $ref: '#/components/schemas/OxygenData'
          - type: 'null'
          description: Object containing information on oxygen-related metrics for the workout.
        polyline_map_data:
          anyOf:
          - $ref: '#/components/schemas/PolylineMapData'
          - type: 'null'
          description: Object containing polyline-representation map data, plotting the user's trajectory throughout the workout.
        position_data:
          anyOf:
          - $ref: '#/components/schemas/PositionData'
          - type: 'null'
          description: Object containing information on the user's position throughout the workout.
        strength_data:
          anyOf:
          - $ref: '#/components/schemas/ActivityStrengthData'
          - type: 'null'
          description: Object containing the sets, reps and load performed during a strength workout. Absent when the activity carries no strength content, or when the source recorded no usable set breakdown.
        power_data:
          anyOf:
          - $ref: '#/components/schemas/PowerData'
          - type: 'null'
          description: Object containing information on the power generated by the user during the workout.
        strain_data:
          anyOf:
          - $ref: '#/components/schemas/StrainData'
          - type: 'null'
          description: Object containing information on the cardiovascular strain imposed on the user during the workout.
        TSS_data:
          anyOf:
          - $ref: '#/components/schemas/TSSData'
          - type: 'null'
          description: Object containing information on the stress put on the user's body from a workout.
        work_data:
          anyOf:
          - $ref: '#/components/schemas/WorkData'
          - type: 'null'
          description: Object containing information on the work output of the user during the workout.
      required:
      - metadata
    Athlete:
      type: object
      properties:
        age:
          anyOf:
          - type: integer
          - type: 'null'
          description: User's age.
          example: 28
        country:
          anyOf:
          - type: string
          - type: 'null'
          description: User's country of residence.
          example: United States
        bio:
          anyOf:
          - type: string
          - type: 'null'
          description: User's bio - a short description they display on their profile.
          example: Passionate runner and cyclist
        state:
          anyOf:
          - type: string
          - type: 'null'
          description: User's state of residence.
          example: California
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          description: User's last name.
          example: Smith
        sex:
          anyOf:
          - type: string
          - type: 'null'
          description: User's sex.
          example: male
        city:
          anyOf:
          - type: string
          - type: 'null'
          description: User's city of residence.
          example: San Francisco
        email:
          anyOf:
          - type: string
          - type: 'null'
          description: User's email.
          example: user@example.com
        date_of_birth:
          anyOf:
          - type: string
          - type: 'null'
          description: User's date of birth, in ISO8601 format.
          example: '1999-11-23'
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          description: User's first name.
          example: John
        gender:
          anyOf:
          - type: string
          - type: 'null'
          description: User's gender.
          example: male
        account_creation_date:
          anyOf:
          - type: string
          - type: 'null'
          description: User's account creation date with the provider, in ISO8601 format.
          example: '2023-01-15'
        provider_user_id:
          anyOf:
          - type: string
          - type: 'null'
          description: The user's unique identifier as assigned by the data provider.
          example: a1b2c3d4e5
    AthleteCollection:
      type: object
      properties:
        athlete:
          description: Object containing the user's information
          type: object
          allOf:
          - $ref: '#/components/schemas/Athlete'
        type:
          type: string
          example: athlete
          nullable: true
        user:
          description: Terra User object
          type: object
          allOf:
          - $ref: '#/components/schemas/TerraUser'
    Body:
      type: object
      properties:
        blood_pressure_data:
          anyOf:
          - $ref: '#/components/schemas/BloodPressureData'
          - type: 'null'
          description: Object containing information on user's Blood Pressure.
        device_data:
          anyOf:
          - $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Object containing information on the device which recorded data for the payload.
        heart_data:
          anyOf:
          - $ref: '#/components/schemas/HeartData'
          - type: 'null'
          description: Object containing information on user's heart metrics.
        hydration_data:
          anyOf:
          - $ref: '#/components/schemas/HydrationData'
          - type: 'null'
          description: Object containing information on user's hydration (both internal & consumption of water) for the day.
        ketone_data:
          anyOf:
          - $ref: '#/components/schemas/KetoneData'
          - type: 'null'
          description: Object containing information on user's ketone data for the day.
        measurements_data:
          anyOf:
          - $ref: '#/components/schemas/MeasurementsData'
          - type: 'null'
          description: Object containing information on body measurements for the day.
        metadata:
          $ref: '#/components/schemas/BodyMetadata'
          description: Object containing daily summary metadata.
        oxygen_data:
          anyOf:
          - $ref: '#/components/schemas/OxygenData'
          - type: 'null'
          description: Object containing information on user's oxygen-related data.
        temperature_data:
          anyOf:
          - $ref: '#/components/schemas/TemperatureData'
          - type: 'null'
          description: Object containing temperature information (core, skin, ambient) during the day.
        glucose_data:
          anyOf:
          - $ref: '#/components/schemas/GlucoseData'
          - type: 'null'
          description: Object containing information on user's blood glucose for the day.
      required:
      - metadata
    Daily:
      type: object
      properties:
        active_durations_data:
          anyOf:
          - $ref: '#/components/schemas/ActiveDurationsData'
          - type: 'null'
          description: Object containing information related to the time spent in different activity intensities during over the day.
        calories_data:
          anyOf:
          - $ref: '#/components/schemas/CaloriesData'
          - type: 'null'
          description: Object containing calorie-related information for the user during the specific day.
        data_enrichment:
          anyOf:
          - $ref: '#/components/schemas/DailyDataEnrichment'
          - type: 'null'
          description: Object containing additional enrichment data for the day.
        device_data:
          anyOf:
          - $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Object containing information on the device which recorded data for the day.
        distance_data:
          anyOf:
          - $ref: '#/components/schemas/DailyDistanceData'
          - type: 'null'
          description: Object containing information related to distance covered during the associated day.
        heart_rate_data:
          anyOf:
          - $ref: '#/components/schemas/HeartRateData'
          - type: 'null'
          description: Object containing heartrate-related information for the day.
        MET_data:
          anyOf:
          - $ref: '#/components/schemas/METData'
          - type: 'null'
          description: Object containing information on the Metabolic Equivalent of Task for the day.
        metadata:
          $ref: '#/components/schemas/DailyMetadata'
          description: Object containing daily summary metadata.
        oxygen_data:
          anyOf:
          - $ref: '#/components/schemas/OxygenData'
          - type: 'null'
          description: Object containing information on oxygen-related metrics for the day.
        scores:
          anyOf:
          - $ref: '#/components/schemas/ScoresData'
          - type: 'null'
          description: Scores for the user's performance on different metrics for the given day, as calculated by the fitness data provider.
        strain_data:
          anyOf:
          - $ref: '#/components/schemas/StrainData'
          - type: 'null'
          description: Object containing information on the strain put on the user's body over a day.
        stress_data:
          anyOf:
          - $ref: '#/components/schemas/StressData'
          - type: 'null'
          description: Object containing information on the stress put on the user over a day.
        tag_data:
          anyOf:
          - $ref: '#/components/schemas/TagData'
          - type: 'null'
          description: Object containing all user-entered or automatically tagged events in the day.
      required:
      - metadata
    Menstruation:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/MenstruationMetadata'
          description: Object containing daily summary metadata.
        menstruation_data:
          anyOf:
          - $ref: '#/components/schemas/MenstruationData'
          - type: 'null'
          description: Object containing information on user's menstruation for a given day.
      required:
      - metadata
    HormoneSample:
      type: object
      properties:
        timestamp:
          type: string
          description: ISO-8601 timestamp of the test event, including timezone offset.
          example: '2026-05-07T08:00:00+02:00'
        lh_mIU_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Luteinizing hormone reading, milli-international units per millilitre.
          example: 5.2
        e3g_ng_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Estrone-3-glucuronide reading, nanograms per millilitre. Urinary estrogen metabolite, rises before ovulation.
          example: 108.5
        pdg_ug_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Pregnanediol glucuronide reading, micrograms per millilitre. Urinary progesterone metabolite, confirms ovulation.
          example: 2.4
        hcg_mIU_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Human chorionic gonadotropin reading, milli-international units per millilitre. Pregnancy hormone.
          example: 0.8
        fsh_mIU_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Follicle-stimulating hormone reading, milli-international units per millilitre. Ovarian reserve / menopause indicator.
          example: 4.8
      required:
      - timestamp
    Connection:
      type: object
      properties:
        id:
          type: integer
          description: Terra connection ID.
          example: 75001
        reference_id:
          anyOf:
          - type: string
          - type: 'null'
          description: External user identifier provided at connect time.
          example: user_external_ref_123
        created_at:
          type: string
[...]
