openapi: 3.0.3
info:
  description: The Terra API (v2 surface, served at access.tryterra.co/api/v2).
  title: TerraAPI
  version: 2026.06.11
  license:
    name: Apache-2.0
    url: https://github.com/tryterra/openapi/blob/master/LICENSE
  termsOfService: https://tryterra.co/terms-of-service
  contact:
    name: Terra API
    url: https://tryterra.co/
    email: dev@tryterra.co
servers:
- url: https://access.tryterra.co/api/v2
security:
- ApiKeyAuth: []
  DevID: []
paths:
  /auth/authenticateUser:
    post:
      summary: Generate an authentication link
      description: Creates a login link that allows end users to connect their fitness tracking account
      tags:
      - Authentication
      operationId: Authentication_AuthenticateUser
      parameters:
      - name: resource
        in: query
        description: Provider resource identifier (e.g., 'FITBIT', 'GARMIN', 'OURA'). See "Get detailed list of integrations" for available providers
        schema:
          type: string
        example: FITBIT
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                language:
                  type: string
                reference_id:
                  type: string
                auth_success_redirect_url:
                  type: string
                auth_failure_redirect_url:
                  type: string
        required: false
      responses:
        '200':
          description: Returned when authentication link could be successfully generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that the request was successful
                    example: success
                  user_id:
                    description: User ID for the user being created
                    type: string
                    example: 23dc2540-7139-44c6-8158-f81196e2cf2e
                  auth_url:
                    type: string
                    description: authentication URL the user must be redirected to in order to link their account
                    example: https://www.fitbit.com/oauth2/authorize?response_type=code&client_id=23BBG9&scope=settings+nutrition+sleep+heartrate+electrocardiogram+weight+respiratory_rate+oxygen_saturation+profile+temperature+cardio_fitness+activity+location&state=bLqqjPie9ptwoWm6VBxHCu6JkkoWJp
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/generateWidgetSession:
    post:
      summary: Generate an authentication link, using the Terra Authentication Widget
      description: Generates a link to redirect an end user to for them to select an integration and log in with their fitness data provider
      tags:
      - Authentication
      operationId: Authentication_GenerateWidgetSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WidgetSessionParams'
        required: true
      responses:
        '200':
          description: Returned when authentication link could be successfully generated
          content:
            application/json:
              schema:
                type: object
                properties:
                  session_id:
                    description: Session ID for the widget authentication session
                    type: string
                    example: 23dc2540-7139-44c6-8158-f81196e2cf2e
                  url:
                    type: string
                    description: the widget URL the user must be redirected to in order to link their account
                    example: https://widget.tryterra.co/session/344d475f-296a-489a-a88c-54183671dafd
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    description: indicates that the request was successful (value is success)
                    example: success
                  expires_in:
                    type: number
                    description: a number in seconds depicting how long the url is valid for
                    example: 900
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/deauthenticateUser:
    delete:
      summary: Deauthenticates a user and deletes any cached data for them
      description: Deletes all records of the user on Terra's end, revoking Terra's access to their data
      tags:
      - Authentication
      operationId: Authentication_DeauthenticateUser
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to deauthenticate and remove from Terra system
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Returned when user is successfully deauthenticated and data is deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    enum:
                    - success
                    - error
                    description: indicates that the deauthentication was successful (value is success)
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/generateAuthToken:
    post:
      tags:
      - Authentication
      summary: Generates an authentication token for the Terra mobile SDKs
      description: Creates a token to be used with initConnection() functions in the Terra mobile SDKs in order to create a user record for Apple Health or Samsung Health (or equivalent)
      operationId: Authentication_GenerateAuthToken
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value:
                    status: success
                    token: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                    expires_in: 180
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  token:
                    type: string
                    example: 250c68b9c21b78e40e7a3285a2d538d3bc24aabd3b4c76a782fb0a571ca4501d
                  expires_in:
                    type: integer
                    example: 180
                    default: 0
        '404':
          $ref: '#/components/responses/NotFound'
      deprecated: false
  /activity:
    get:
      summary: Retrieve activity data for a given user ID
      description: Fetches completed workout sessions, with a defined start and end time and activity type (e.g. running, cycling, etc.)
      tags:
      - Activity
      operationId: Activity_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Activity'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /athlete:
    get:
      summary: Retrieve user profile info for a given user ID
      description: Fetches relevant profile info such as first & last name, birth date etc. for a given user ID
      tags:
      - Athlete
      operationId: Athlete_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/AthleteCollection'
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /body:
    get:
      summary: Retrieve body metrics for a given user ID
      description: Fetches body metrics such as weight, height, body fat percentage etc. for a given user ID
      tags:
      - Body
      operationId: Body_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Body'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /daily:
    get:
      summary: Retrieve daily activity summaries for a given user ID
      description: Fetches daily summaries of activity metrics such as steps, distance, calories burned etc. for a given user ID
      tags:
      - Daily
      operationId: Daily_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Daily'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /menstruation:
    get:
      summary: Retrieve menstruation data for a given user ID
      description: Fetches menstruation data such as cycle length, period length, ovulation date etc. for a given user ID
      tags:
      - Menstruation
      operationId: Menstruation_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Menstruation'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /nutrition:
    get:
      summary: Retrieve nutrition log data for a given user ID
      description: Fetches nutrition log data such as meal type, calories, macronutrients etc. for a given user ID
      tags:
      - Nutrition
      operationId: Nutrition_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Nutrition'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /sleep:
    get:
      summary: Retrieve sleep sessions for a given user ID
      description: Fetches sleep data such as sleep duration, sleep stages, sleep quality etc. for a given user ID, for sleep sessions with a defined start and end time
      tags:
      - Sleep
      operationId: Sleep_Fetch
      parameters:
      - name: user_id
        in: query
        description: Terra user ID (UUID format) to retrieve data for
        schema:
          type: string
        required: true
      - name: start_date
        in: query
        description: Start date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: true
      - name: end_date
        in: query
        description: End date for data query - either ISO8601 date (YYYY-MM-DD) or unix timestamp in seconds (10-digit)
        schema:
          oneOf:
          - type: integer
          - type: string
            format: date
        required: false
      - name: to_webhook
        in: query
        description: 'Boolean flag specifying whether to send the data retrieved to the webhook instead of in the response (default: true if not provided)

          '
        schema:
          type: boolean
        required: false
      - name: with_samples
        in: query
        description: 'Boolean flag specifying whether to include detailed samples in the returned payload (default: false)

          '
        schema:
          type: boolean
        required: false
      responses:
        '200':
          description: Returned upon successful data request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    user:
                      $ref: '#/components/schemas/TerraUser'
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Sleep'
                    type:
                      type: string
                      nullable: true
                - $ref: '#/components/schemas/DataSentToWebhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /workouts:
    post:
      tags:
      - Workouts
      summary: Create a workout template
      description: 'Stores a reusable workout template. Plan it onto a user''s calendar with `POST /workouts/{workout_id}/plan` — the template itself carries no date and is not pushed to any provider until
        planned.

        '
      operationId: Workouts_CreateWorkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkoutTemplate'
      responses:
        '200':
          description: Template stored
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                  workout_id:
                    type: string
                    example: '1024'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
    get:
      tags:
      - Workouts
      summary: List workout templates
      description: Returns every workout template stored for your developer account.
      operationId: Workouts_ListWorkouts
      responses:
        '200':
          description: Stored templates, each including its workout_id
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WorkoutTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /workouts/{workout_id}:
    parameters:
    - name: workout_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    get:
      tags:
      - Workouts
      summary: Get a workout template
      operationId: Workouts_GetWorkout
      responses:
        '200':
          description: The stored template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutTemplate'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Workouts
      summary: Delete a workout template
      description: 'Deletes the template and cascades deletion of every planned workout created from it, including removal from connected providers.

        '
      operationId: Workouts_DeleteWorkout
      responses:
        '204':
          description: Template and all planned instances deleted
        '207':
          description: 'Some provider-side deletions failed; the template is retained. Retry to complete the cascade.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          description: Provider-side deletion could not be performed; retry later.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /workouts/{workout_id}/plan:
    post:
      tags:
      - Workouts
      summary: Plan a workout onto a user's calendar
      description: 'Schedules the workout template for a user on a given date and pushes it to the user''s connected provider (or queues it for SDK delivery). Athlete metrics personalise zone-based targets
        for this plan only.

        '
      operationId: Workouts_PlanWorkout
      parameters:
      - name: workout_id
        in: path
        required: true
        schema:
          type: integer
          format: int64
      - name: user_id
        in: query
        required: true
        description: Terra user ID of the connection to plan the workout for
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - planned_date
              properties:
                planned_date:
                  type: string
                  format: date
                  description: Date to schedule the workout on (YYYY-MM-DD)
                ftp:
                  type: number
                  description: Functional Threshold Power in watts
                max_heart_rate:
                  type: number
                  description: Maximum heart rate in BPM
                threshold_heart_rate:
                  type: number
                  description: Threshold heart rate in BPM
                threshold_speed:
                  type: number
                  description: Threshold speed in m/s
                pool_length_meters:
                  type: number
                  description: Pool length in meters (overrides the template value)
      responses:
        '201':
          description: Planned workout created and pushed (or queued for SDK delivery)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                  planned_workout_id:
                    type: string
                    example: '2048'
                  provider_workout_id:
                    type: string
                    description: Identifier assigned by the provider. Absent for SDK-delivered plans.
                  coercion_warnings:
                    type: string
                    description: Set when the template could not be represented exactly on the provider.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '424':
          description: The provider rejected the workout push; retry later.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /plannedWorkouts:
    get:
      tags:
      - Workouts
      summary: List planned workouts for a user
      description: 'Returns the user''s planned workouts, including workouts created on the provider side (is_external true) where the provider exposes them.

        '
      operationId: Workouts_ListPlannedWorkouts
      parameters:
      - name: user_id
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Planned workouts for the connection
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PlannedWorkout'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /plannedWorkouts/{planned_workout_id}:
    parameters:
    - name: planned_workout_id
      in: path
      required: true
      schema:
        type: integer
        format: int64
    - name: user_id
      in: query
      required: true
      schema:
        type: string
    get:
      tags:
      - Workouts
      summary: Get a planned workout
      operationId: Workouts_GetPlannedWorkout
      responses:
        '200':
          description: The planned workout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedWorkoutSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    patch:
      tags:
      - Workouts
      summary: Reschedule a planned workout
      operationId: Workouts_UpdatePlannedWorkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - planned_date
              properties:
                planned_date:
                  type: string
                  format: date
                  description: New scheduled date (YYYY-MM-DD)
      responses:
        '200':
          description: Updated planned workout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlannedWorkoutSummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
      - Workouts
      summary: Delete a planned workout
      description: Removes the planned workout from the user's calendar and from the connected provider.
      operationId: Workouts_DeletePlannedWorkout
      responses:
        '204':
          description: Planned workout deleted
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /userInfo:
    get:
      tags:
      - User
      operationId: User_GetInfoForUserID
      description: Used to query for information on one Terra user ID, or to query for all registered Terra User objects under one reference ID
      summary: Get information for a single user ID or multiple users by reference ID
      parameters:
      - name: user_id
        in: query
        description: user ID to query for
        schema:
          type: string
        required: false
      - name: reference_id
        in: query
        description: reference ID to query for
        schema:
          type: string
        required: false
      responses:
        '200':
          description: Returned when the provided resources are found
          content:
            application/json:
              schema:
                oneOf:
                - description: User information for one connection (single User object)
                  type: object
                  properties:
                    user:
                      description: 'The connection. In addition to the base User fields, this endpoint also returns polling metadata.

                        '
                      allOf:
                      - $ref: '#/components/schemas/TerraUser'
                      - type: object
                        properties:
                          last_polled_at:
                            type: string
                            format: date-time
                            description: Last time Terra polled the provider for this connection.
                            example: '2024-01-20T11:00:00Z'
                            nullable: true
                          most_recent_data_at:
                            type: string
                            format: date-time
                            description: Timestamp of the most recent data point Terra holds for this connection.
                            example: '2024-01-19T23:00:00Z'
                            nullable: true
                    status:
                      type: string
                      enum:
                      - success
                      - error
                      default: success
                    is_authenticated:
                      type: boolean
                - description: List of multiple User objects the reference_id is associated to
                  type: array
                  items:
                    $ref: '#/components/schemas/TerraUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /subscriptions:
    get:
      tags:
      - User
      operationId: User_GetAllUserIDs
      description: Used to query for information for all Terra User IDs. Supports optional pagination via `page` and `per_page`. If `page` is not provided, it returns all users in one go (backwards compatibility).
      summary: Get all Terra User IDs
      parameters:
      - name: page
        in: query
        required: false
        schema:
          type: integer
        description: Zero-based page number. If omitted, results are not paginated.
        example: 0
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        description: Number of results per page (default is 500).
        example: 500
      responses:
        '200':
          description: Returned upon a successful request
          content:
            application/json:
              schema:
                oneOf:
                - type: object
                  properties:
                    users:
                      type: array
                      items:
                        $ref: '#/components/schemas/TerraUser'
                - type: object
                  properties:
                    data:
                      type: object
                      properties:
                        next:
                          type: integer
                          description: The next page number, or null if there is no next page
                          nullable: true
                        max_page:
                          type: integer
                          description: The maximum page index
                        results:
                          type: array
                          items:
                            $ref: '#/components/schemas/TerraUser'
        '400':
          $ref: '#/components/responses/BadRequest'
  /bulkUserInfo:
    post:
      tags:
      - User
      operationId: User_GetInfoForMultipleUserIDs
      description: Used to query for information for multiple Terra User IDs
      summary: Get information for multiple user IDs
      requestBody:
        content:
          application/json:
            schema:
              type: array
              description: List of user IDs to get information for
              items:
                type: string
        required: true
      responses:
        '200':
          description: Returned upon successful request
          content:
            application/json:
              schema:
                description: List of User objects
                type: array
                items:
                  $ref: '#/components/schemas/TerraUser'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
  /payload/resend:
    post:
      tags:
      - Webhooks
      operationId: Webhooks_ResendPayload
      summary: Resend a previously delivered webhook payload
      description: 'Re-dispatches a stored normalised payload to your configured webhook

        destinations, identified by the original webhook event ID. The user

        and data type are read from the stored payload itself, so only the

        event ID is required.

        '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - event_id
              properties:
                event_id:
                  type: string
                  description: ID of the original webhook event to resend (the `reference` field surfaced on the original delivery).
                  example: 5b04b6a4-09bd-4fc4-8bbb-6c44f0a2c0ef
        required: true
      responses:
        '200':
          description: Returned when the payload was successfully re-queued for delivery.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                    - success
                    - error
                    example: success
        '400':
          $ref: '#/components/responses/BadRequest'
  /integrations:
    get:
      summary: Get list of available integrations
      tags:
      - Integrations
      operationId: Integrations_Fetch
      description: Retrieve a list of all available provider integrations on the API.
      security: []
      responses:
        '200':
          description: Returns list of all available integrations on the API
          content:
            application/json:
              schema:
                type: object
                properties:
                  providers:
                    type: array
                    items:
                      type: string
                      example: FITBIT
                  sdk_providers:
                    type: array
                    description: Providers available through Terra's mobile SDKs rather than cloud connections
                    items:
                      type: string
                      example: APPLE
                  status:
                    enum:
                    - success
                    - error
                    type: string
                    default: success
  /integrations/detailed:
    get:
      tags:
      - Integrations
      operationId: Integrations_DetailedFetch
      summary: Get detailed list of integrations
      description: Retrieve a detailed list of supported integrations, optionally filtered by the developer's enabled integrations and the requirement for SDK usage.
      parameters:
      - in: query
        name: sdk
        required: false
        schema:
          type: boolean
        description: If `true`, allows SDK integrations to be included in the response.
      responses:
        '200':
          description: Successful response containing a list of integrations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntegrationsResponse'
      security: []
webhooks:
  auth:
    post:
      description: Occurs when a user attempts to authenticate
      summary: User authentication webhook
      operationId: userAuthWebhook
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - $ref: '#/components/schemas/AuthSuccessEvent'
              - $ref: '#/components/schemas/AuthErrorEvent'
      responses:
        '200':
          description: Successful authentication response
  deauth:
    post:
      description: Occurs when a user deauthenticates through the Terra
      summary: User deauthentication webhook
      operationId: userDeauthWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeauthEvent'
      responses:
        '200':
          description: Successful deauthentication response
  user_reauth:
    post:
      description: Occurs when a user successfully authenticates for a second time, with the same account. You will receive a successful auth and a user_reauth payload
      summary: User reauthentication webhook
      operationId: userReauthWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserReauthEvent'
      responses:
        '200':
          description: Successful reauthentication response
  access_revoked:
    post:
      description: Occurs when a user revokes Terra's access from the provider's end
      summary: Access revoked webhook
      operationId: accessRevokedWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccessRevokedEvent'
      responses:
        '200':
          description: Successful access revocation response
  permission_change:
    post:
      description: Occurs when the set of permissions a user has granted changes on the provider side
      summary: Permission change webhook
      operationId: permissionChangeWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PermissionChangeEvent'
      responses:
        '200':
          description: Successful permission change response
  connection_error:
    post:
      description: Occurs when a request to a provider returns an HTTP response of 401, 403 or 412
      summary: Connection error webhook
      operationId: connectionErrorWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectionErrorEvent'
      responses:
        '200':
          description: Successful connection error response
  large_request_sending:
    post:
      description: Occurs when more than one month of data has been requested and all data has been successfully submitted
      summary: Large request sending webhook
      operationId: largeRequestSendingWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LargeRequestSendingEvent'
      responses:
        '200':
          description: Successful large request sending response
  large_request_processing:
    post:
      description: Occurs when more a request for over one month of data has been submitted to Terra. Data will be sent in chunks with the same reference field after this request. Each chunk will be at
        most 10 objects in the data field or 10 MB in size, whichever limit gets hit first
      summary: Large request processing webhook
      operationId: largeRequestProcessingWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LargeRequestProcessingEvent'
      responses:
        '200':
          description: Successful large request processing response
  s3_upload:
    post:
      description: Data event sent as a download link.
      summary: S3 upload webhook
      operationId: s3UploadWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/S3PayloadEvent'
      responses:
        '200':
          description: Successful S3 upload response
  activity:
    post:
      description: 'activity data event: activity updates when new activity is completed'
      summary: Activity webhook
      operationId: activityWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivityEvent'
      responses:
        '200':
          description: Successful activity response
  athlete:
    post:
      description: 'athlete data event: Occurs throughout the day as users use their wearables.'
      summary: Athlete webhook
      operationId: athleteWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AthleteEvent'
      responses:
        '200':
          description: Successful athlete response
  nutrition:
    post:
      description: 'nutrition data event: occurs throughout the day as users use their wearables.'
      summary: Nutrition webhook
      operationId: nutritionWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NutritionEvent'
      responses:
        '200':
          description: Successful nutrition response
  daily:
    post:
      description: 'daily data event: occurs throughout the day as users use their wearables.'
      summary: Daily webhook
      operationId: dailyWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DailyEvent'
      responses:
        '200':
          description: Successful daily response
  sleep:
    post:
      description: 'sleep data event: occurs throughout the day as users use their wearables.'
      summary: Sleep webhook
      operationId: sleepWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SleepEvent'
      responses:
        '200':
          description: Successful sleep response
  menstruation:
    post:
      description: 'menstruation data event: occurs throughout the day as users use their wearables.'
      summary: Menstruation webhook
      operationId: menstruationWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MenstruationEvent'
      responses:
        '200':
          description: Successful menstruation response
  body:
    post:
      description: 'body data event: occurs throughout the day as users use their wearables.'
      summary: Body webhook
      operationId: bodyWebhook
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BodyEvent'
      responses:
        '200':
          description: Successful body response
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key
      description: Your API key for authentication
    DevID:
      type: apiKey
      in: header
      name: dev-id
      description: Your developer ID for authentication and tracking
  responses:
    BadRequest:
      description: One or more parameters is malformed. The `detail` field describes the specific problem.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: bad request
            instance: /activity
            detail: invalid start_date
    Unauthorized:
      description: Authentication credentials are missing or invalid.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: unauthorized
            instance: /activity
            detail: dev-id or x-api-key headers are missing
    NotFound:
      description: A referenced resource does not exist on Terra's end.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          example:
            type: about:blank
            title: not found
            instance: /activity
            detail: user not found
  schemas:
    WorkoutTemplate:
      type: object
      properties:
        name:
          type: string
          description: Name of the workout
        description:
          anyOf:
          - type: string
          - type: 'null'
          description: Description of the workout
        sport:
          $ref: '#/components/schemas/WorkoutSport'
        environment:
          anyOf:
          - $ref: '#/components/schemas/EnvironmentType'
          - type: 'null'
        pool_length_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Pool length in meters, for swim workouts
        step_blocks:
          type: array
          items:
            $ref: '#/components/schemas/StepBlock'
        estimated_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Estimated total duration in seconds
        estimated_distance_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Estimated total distance in meters
        estimated_calories:
          anyOf:
          - type: number
          - type: 'null'
          description: Estimated calories burned
        workout_id:
          anyOf:
          - type: string
          - type: 'null'
          description: Terra identifier of the stored template. Set by Terra in responses; ignored on create.
      required:
      - name
      - sport
      - step_blocks
      description: A reusable workout template, created once and planned onto user calendars
    PlannedWorkoutItem:
      $ref: '#/components/schemas/PlannedWorkout'
    PlannedWorkoutSummary:
      type: object
      description: Summary of a planned workout, returned by the get and reschedule operations.
      properties:
        planned_workout_id:
          type: string
          example: '2048'
        planned_date:
          type: string
          format: date
        is_external:
          type: boolean
          description: True when the workout was created on the provider side rather than through Terra.
        workout_id:
          type: string
          description: Identifier of the source template. Absent for external workouts.
        provider_workout_id:
          type: string
          description: Identifier assigned by the provider, once pushed.
        coercion_warnings:
          type: string
          description: Set when the template could not be represented exactly on the provider.
    Problem:
      type: object
      description: 'An error response, following RFC 9457 (Problem Details for HTTP APIs, which obsoletes RFC 7807). Returned with `Content-Type: application/problem+json` on every 4xx/5xx response. The
        HTTP status line carries the status code; it is intentionally not repeated in the body. `type`, `title` and `instance` are always present; `detail` is included when a specific explanation is available.

        '
      properties:
        type:
          type: string
          description: A URI reference identifying the problem type. Defaults to `about:blank`.
          example: about:blank
        title:
          type: string
          description: A short, human-readable summary of the problem type (the lowercased HTTP status text).
          example: unauthorized
        instance:
          type: string
          description: The request path, including any query string, that produced this problem.
          example: /api/v2/activity?user_id=d4aba475-f714-4663-88fe-28f18b8599b0&to_webhook=false
        detail:
          type: string
          description: A human-readable explanation specific to this occurrence of the problem.
          example: dev-id or x-api-key headers are missing
      required:
      - type
      - title
      - instance
    WidgetSessionParams:
      type: object
      properties:
        providers:
          type: string
          description: Comma separated list of providers to display on the device selection page. This overrides your selected sources on your dashboard
          example: GARMIN,FITBIT,OURA,WITHINGS,SUUNTO
        language:
          type: string
          description: Display language of the widget
          example: en
        reference_id:
          type: string
          description: Identifier of the end user on your system, such as a user ID or email associated with them
          example: user123@email.com
        auth_success_redirect_url:
          type: string
          description: URL the user is redirected to upon successful authentication
          example: https://myapp.com/success
        auth_failure_redirect_url:
          type: string
          description: URL the user is redirected to upon unsuccessful authentication
          example: https://myapp.com/failure
    User:
      $ref: '#/components/schemas/TerraUser'
    DataSentToWebhook:
      type: object
      description: 'Acknowledgement returned when `to_webhook` is true (the default): the requested data is fetched asynchronously and delivered to your configured destination, and this body confirms the
        request was accepted.

        '
      properties:
        status:
          type: string
          enum:
          - success
          example: success
        type:
          type: string
          description: The data type that was requested (e.g. `activity`, `sleep`).
          example: activity
        reference:
          type: string
          description: Payload reference, tying this request to the webhook payload you will receive.
          example: 5a3c2540-7139-44c6-8158-f81196e2cf2e
        trace_id:
          type: string
          description: Trace identifier for this request (equal to `reference`).
          example: 5a3c2540-7139-44c6-8158-f81196e2cf2e
        message:
          type: string
          description: Present only for large requests (date range over one month), which are delivered in chunks.
          example: Large request submitted. The data is being processed and will be sent to your destination in chunks
        user:
          type: object
          description: Summary of the connection the data was requested for.
          properties:
            user_id:
              type: string
              example: 5a3c2540-7139-44c6-8158-f81196e2cf2e
            provider:
              type: string
              example: GARMIN
            reference_id:
              type: string
              example: user123@email.com
              nullable: true
            created_at:
              type: string
              format: date-time
              example: '2024-01-15T09:30:00Z'
            active:
              type: boolean
              example: true
            scopes:
              type: string
              description: Comma-separated list of granted scopes.
              example: activity,sleep,daily
            last_webhook_update:
              type: string
              format: date-time
              example: '2024-01-20T11:00:00Z'
              nullable: true
    Activity:
      type: object
      properties:
        active_durations_data:
          anyOf:
          - $ref: '#/components/schemas/ActiveDurationsData'
          - type: 'null'
          description: Number of minutes spent at various intensities during the workout, as reported by the Fitness Data provider.
        calories_data:
          anyOf:
          - $ref: '#/components/schemas/CaloriesData'
          - type: 'null'
          description: Object containing calorie-related information for the user during the specific workout.
        cheat_detection:
          anyOf:
          - type: number
          - type: 'null'
          description: Cheat detection flag.
          example: 0
        data_enrichment:
          anyOf:
          - $ref: '#/components/schemas/DataEnrichment'
          - type: 'null'
          description: Object containing Terra Scores.
        device_data:
          anyOf:
          - $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Object containing information on the device which recorded the specific workout.
        distance_data:
          anyOf:
          - $ref: '#/components/schemas/DistanceData'
          - type: 'null'
          description: Object containing information related to distance covered during the associated workout.
        energy_data:
          anyOf:
          - $ref: '#/components/schemas/EnergyData'
          - type: 'null'
          description: Object containing information on the energy expended by the user during the workout.
        heart_rate_data:
          anyOf:
          - $ref: '#/components/schemas/HeartRateData'
          - type: 'null'
          description: Object containing heartrate-related information for the workout.
        lap_data:
          anyOf:
          - $ref: '#/components/schemas/LapData'
          - type: 'null'
          description: Object containing information on data for each lap performed by the user - mostly relates to track & field running activities, and swimming activities.
        MET_data:
          anyOf:
          - $ref: '#/components/schemas/METData'
          - type: 'null'
          description: Object containing information on the Metabolic Equivalent of Task for the workout.
        metadata:
          $ref: '#/components/schemas/ActivityMetadata'
          description: Object containing workout metadata.
        movement_data:
          anyOf:
          - $ref: '#/components/schemas/MovementData'
          - type: 'null'
          description: Object containing information on the user's movement throughout the workout.
        oxygen_data:
          anyOf:
          - $ref: '#/components/schemas/OxygenData'
          - type: 'null'
          description: Object containing information on oxygen-related metrics for the workout.
        polyline_map_data:
          anyOf:
          - $ref: '#/components/schemas/PolylineMapData'
          - type: 'null'
          description: Object containing polyline-representation map data, plotting the user's trajectory throughout the workout.
        position_data:
          anyOf:
          - $ref: '#/components/schemas/PositionData'
          - type: 'null'
          description: Object containing information on the user's position throughout the workout.
        power_data:
          anyOf:
          - $ref: '#/components/schemas/PowerData'
          - type: 'null'
          description: Object containing information on the power generated by the user during the workout.
        strain_data:
          anyOf:
          - $ref: '#/components/schemas/StrainData'
          - type: 'null'
          description: Object containing information on the cardiovascular strain imposed on the user during the workout.
        TSS_data:
          anyOf:
          - $ref: '#/components/schemas/TSSData'
          - type: 'null'
          description: Object containing information on the stress put on the user's body from a workout.
        work_data:
          anyOf:
          - $ref: '#/components/schemas/WorkData'
          - type: 'null'
          description: Object containing information on the work output of the user during the workout.
      required:
      - metadata
    Athlete:
      type: object
      properties:
        age:
          anyOf:
          - type: integer
          - type: 'null'
          description: User's age.
          example: 28
        country:
          anyOf:
          - type: string
          - type: 'null'
          description: User's country of residence.
          example: United States
        bio:
          anyOf:
          - type: string
          - type: 'null'
          description: User's bio - a short description they display on their profile.
          example: Passionate runner and cyclist
        state:
          anyOf:
          - type: string
          - type: 'null'
          description: User's state of residence.
          example: California
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          description: User's last name.
          example: Smith
        sex:
          anyOf:
          - type: string
          - type: 'null'
          description: User's sex.
          example: male
        city:
          anyOf:
          - type: string
          - type: 'null'
          description: User's city of residence.
          example: San Francisco
        email:
          anyOf:
          - type: string
          - type: 'null'
          description: User's email.
          example: user@example.com
        date_of_birth:
          anyOf:
          - type: string
          - type: 'null'
          description: User's date of birth, in ISO8601 format.
          example: '1999-11-23'
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          description: User's first name.
          example: John
        gender:
          anyOf:
          - type: string
          - type: 'null'
          description: User's gender.
          example: male
        joined_provider:
          anyOf:
          - type: string
          - type: 'null'
          description: User's account creation date.
          example: '2023-01-15'
        devices:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Array of devices associated with the user's account.
    AthleteCollection:
      type: object
      properties:
        athlete:
          description: Object containing the user's information
          type: object
          allOf:
          - $ref: '#/components/schemas/Athlete'
        type:
          type: string
          example: athlete
          nullable: true
        user:
          description: Terra User object
          type: object
          allOf:
          - $ref: '#/components/schemas/TerraUser'
    Body:
      type: object
      properties:
        blood_pressure_data:
          anyOf:
          - $ref: '#/components/schemas/BloodPressureData'
          - type: 'null'
          description: Object containing information on user's Blood Pressure.
        device_data:
          anyOf:
          - $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Object containing information on the device which recorded data for the payload.
        heart_data:
          anyOf:
          - $ref: '#/components/schemas/HeartData'
          - type: 'null'
          description: Object containing information on user's heart metrics.
        hydration_data:
          anyOf:
          - $ref: '#/components/schemas/HydrationData'
          - type: 'null'
          description: Object containing information on user's hydration (both internal & consumption of water) for the day.
        ketone_data:
          anyOf:
          - $ref: '#/components/schemas/KetoneData'
          - type: 'null'
          description: Object containing information on user's ketone data for the day.
        measurements_data:
          anyOf:
          - $ref: '#/components/schemas/MeasurementsData'
          - type: 'null'
          description: Object containing information on body measurements for the day.
        metadata:
          $ref: '#/components/schemas/BodyMetadata'
          description: Object containing daily summary metadata.
        oxygen_data:
          anyOf:
          - $ref: '#/components/schemas/OxygenData'
          - type: 'null'
          description: Object containing information on user's oxygen-related data.
        temperature_data:
          anyOf:
          - $ref: '#/components/schemas/TemperatureData'
          - type: 'null'
          description: Object containing temperature information (core, skin, ambient) during the day.
        glucose_data:
          anyOf:
          - $ref: '#/components/schemas/GlucoseData'
          - type: 'null'
          description: Object containing information on user's blood glucose for the day.
      required:
      - metadata
    Daily:
      type: object
      properties:
        active_durations_data:
          anyOf:
          - $ref: '#/components/schemas/ActiveDurationsData'
          - type: 'null'
          description: Object containing information related to the time spent in different activity intensities during over the day.
        calories_data:
          anyOf:
          - $ref: '#/components/schemas/CaloriesData'
          - type: 'null'
          description: Object containing calorie-related information for the user during the specific day.
        data_enrichment:
          anyOf:
          - $ref: '#/components/schemas/DailyDataEnrichment'
          - type: 'null'
          description: Object containing additional enrichment data for the day.
        device_data:
          anyOf:
          - $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Object containing information on the device which recorded data for the day.
        distance_data:
          anyOf:
          - $ref: '#/components/schemas/DailyDistanceData'
          - type: 'null'
          description: Object containing information related to distance covered during the associated day.
        heart_rate_data:
          anyOf:
          - $ref: '#/components/schemas/HeartRateData'
          - type: 'null'
          description: Object containing heartrate-related information for the day.
        MET_data:
          anyOf:
          - $ref: '#/components/schemas/METData'
          - type: 'null'
          description: Object containing information on the Metabolic Equivalent of Task for the day.
        metadata:
          $ref: '#/components/schemas/DailyMetadata'
          description: Object containing daily summary metadata.
        oxygen_data:
          anyOf:
          - $ref: '#/components/schemas/OxygenData'
          - type: 'null'
          description: Object containing information on oxygen-related metrics for the day.
        scores:
          anyOf:
          - $ref: '#/components/schemas/ScoresData'
          - type: 'null'
          description: Scores for the user's performance on different metrics for the given day, as calculated by the fitness data provider.
        strain_data:
          anyOf:
          - $ref: '#/components/schemas/StrainData'
          - type: 'null'
          description: Object containing information on the strain put on the user's body over a day.
        stress_data:
          anyOf:
          - $ref: '#/components/schemas/StressData'
          - type: 'null'
          description: Object containing information on the stress put on the user over a day.
        tag_data:
          anyOf:
          - $ref: '#/components/schemas/TagData'
          - type: 'null'
          description: Object containing all user-entered or automatically tagged events in the day.
      required:
      - metadata
    Menstruation:
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/MenstruationMetadata'
          description: Object containing daily summary metadata.
        menstruation_data:
          anyOf:
          - $ref: '#/components/schemas/MenstruationData'
          - type: 'null'
          description: Object containing information on user's menstruation for a given day.
      required:
      - metadata
    HormoneSample:
      type: object
      properties:
        timestamp:
          type: string
          description: ISO-8601 timestamp of the test event, including timezone offset.
          example: '2026-05-07T08:00:00+02:00'
        lh_mIU_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Luteinizing hormone reading, milli-international units per millilitre.
          example: 5.2
        e3g_ng_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Estrone-3-glucuronide reading, nanograms per millilitre. Urinary estrogen metabolite, rises before ovulation.
          example: 108.5
        pdg_ug_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Pregnanediol glucuronide reading, micrograms per millilitre. Urinary progesterone metabolite, confirms ovulation.
          example: 2.4
        hcg_mIU_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Human chorionic gonadotropin reading, milli-international units per millilitre. Pregnancy hormone.
          example: 0.8
        fsh_mIU_per_ml:
          anyOf:
          - type: number
          - type: 'null'
          description: Follicle-stimulating hormone reading, milli-international units per millilitre. Ovarian reserve / menopause indicator.
          example: 4.8
      required:
      - timestamp
    Connection:
      type: object
      properties:
        id:
          type: integer
          description: Terra connection ID.
          example: 75001
        reference_id:
          anyOf:
          - type: string
          - type: 'null'
          description: External user identifier provided at connect time.
          example: user_external_ref_123
        created_at:
          type: string
          description: RFC3339 timestamp of when the connection was first authorised.
          example: '2026-04-22T11:00:00Z'
        provider:
          type: string
          description: Uppercase provider slug, e.g. MIRA or FITBIT.
          example: MIRA
        last_polled_at:
          anyOf:
          - type: string
          - type: 'null'
          description: RFC3339 timestamp of the last poll Terra ran against the provider for this connection. May be null for webhook-only flows.
        last_updated_at:
          anyOf:
          - type: string
          - type: 'null'
          description: RFC3339 timestamp of the last time Terra received any data from the provider for this connection.
        most_recent_data_at:
          anyOf:
          - type: string
          - type: 'null'
          description: RFC3339 timestamp of the most recent stored sample. May lag last_updated_at when fetches return no new data.
        scopes:
          type: array
          items:
            type: string
          description: Granted OAuth scopes. Empty array for providers without scopes (e.g. Mira).
      required:
      - id
      - created_at
      - provider
      - scopes
    Nutrition:
      type: object
      properties:
        drink_samples:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/DrinkSample'
          - type: 'null'
          description: Information on drinks the user consumed throughout the day.
        meals:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/Meal'
          - type: 'null'
          description: Information on individual foods consumed throughout a given day.
        metadata:
          $ref: '#/components/schemas/NutritionMetadata'
          description: Object containing daily summary metadata.
        summary:
          anyOf:
          - $ref: '#/components/schemas/NutritionSummary'
          - type: 'null'
          description: Summative nutritional information for a given day.
      required:
      - metadata
    Sleep:
      type: object
      properties:
        data_enrichment:
          anyOf:
          - $ref: '#/components/schemas/SleepDataEnrichment'
          - type: 'null'
          description: Object containing additional enrichment data for the sleep session.
        device_data:
          anyOf:
          - $ref: '#/components/schemas/DeviceData'
          - type: 'null'
          description: Object containing information on the device which recorded data for the payload.
        heart_rate_data:
          anyOf:
          - $ref: '#/components/schemas/HeartRateData'
          - type: 'null'
          description: Object containing information on the user's heart rate during the sleep session.
        metadata:
          $ref: '#/components/schemas/SleepMetadata'
          description: Object containing daily summary metadata.
        readiness_data:
          anyOf:
          - $ref: '#/components/schemas/ReadinessData'
          - type: 'null'
          description: Object containing information on the user's readiness for the day, based off the quality and duration of their sleep.
        respiration_data:
          anyOf:
          - $ref: '#/components/schemas/RespirationData'
          - type: 'null'
          description: Object containing information on the user's respiration throughout the sleep session.
        scores:
          type: object
          properties:
            sleep:
              anyOf:
              - type: number
              - type: 'null'
              description: User's sleep score.
          description: User's sleep score
        sleep_durations_data:
          anyOf:
          - $ref: '#/components/schemas/SleepDurationsData'
          - type: 'null'
          description: Object containing information on the user's duration spent in various sleep stages.
        temperature_data:
          anyOf:
          - $ref: '#/components/schemas/SleepTemperatureData'
          - type: 'null'
          description: Object containing body temperature information of the user during the sleep recording session.
      required:
      - metadata
    UserAuthWebhook:
      $ref: '#/components/schemas/AuthSuccessEvent'
    UserAuthWebhookError:
      $ref: '#/components/schemas/AuthErrorEvent'
    PermissionChangeWebhook:
      $ref: '#/components/schemas/PermissionChangeEvent'
    UserReauthWebhook:
      $ref: '#/components/schemas/UserReauthEvent'
    UserDeauthWebhook:
      $ref: '#/components/schemas/DeauthEvent'
    AccessRevokedWebhook:
      $ref: '#/components/schemas/AccessRevokedEvent'
    ConnectionErrorWebhook:
      $ref: '#/components/schemas/ConnectionErrorEvent'
    LargeRequestSendingWebhook:
      $ref: '#/components/schemas/LargeRequestSendingEvent'
    LargeRequestProcessingResponse:
      $ref: '#/components/schemas/LargeRequestProcessingEvent'
    AuthenticationFailedWebhook:
      $ref: '#/components/schemas/AuthErrorEvent'
    S3UploadWebhook:
      $ref: '#/components/schemas/S3PayloadEvent'
    ActivityWebhook:
      $ref: '#/components/schemas/ActivityEvent'
    DailyWebhook:
      $ref: '#/components/schemas/DailyEvent'
    NutritionWebhook:
      $ref: '#/components/schemas/NutritionEvent'
    AthleteWebhook:
      $ref: '#/components/schemas/AthleteEvent'
    SleepWebhook:
      $ref: '#/components/schemas/SleepEvent'
    MenstruationWebhook:
      $ref: '#/components/schemas/MenstruationEvent'
    BodyWebhook:
      $ref: '#/components/schemas/BodyEvent'
    PlannedWorkoutWebhook:
      $ref: '#/components/schemas/PlannedWorkoutEvent'
    HormoneWebhook:
      $ref: '#/components/schemas/HormoneEvent'
    IntegrationsResponse:
      type: object
      properties:
        status:
          type: string
          description: Status of the API response
          example: success
        providers:
          type: array
          description: List of integration providers with their details
          items:
            $ref: '#/components/schemas/IntegrationProvider'
    IntegrationProvider:
      type: object
      properties:
        provider:
          type: string
          description: Identifier for the provider
          example: MAPMYFITNESS
        name:
          type: string
          description: Display name of the integration
          example: MapMyFitness
        icon:
          type: string
          description: URL for the provider's icon image
          example: https://access.tryterra.co/api/v2/static/assets/img/app_icons/mapmyfitness.webp
        setup:
          type: string
          description: Indicates how the integration is set up
          example: API_KEYS_MANAGED
        enabled:
          type: boolean
          description: Whether the integration is enabled
          example: true
        types:
          type: object
          description: Indicates the types of data available through the provider
          properties:
            activity:
              type: boolean
              example: true
            body:
              type: boolean
              example: false
            nutrition:
              type: boolean
              example: false
            daily:
              type: boolean
              example: false
            sleep:
              type: boolean
              example: false
            menstruation:
              type: boolean
              example: false
    WebhookEvents:
      $ref: '#/components/schemas/WebhookEventType'
    TerraUser:
      type: object
      properties:
        user_id:
          type: string
          minLength: 1
          description: Terra identifier for the wearable connection
          example: 123e4567-e89b-12d3-a456-426614174000
        provider:
          type: string
          minLength: 1
          description: Connection data source
          example: FITBIT
        created_at:
          anyOf:
          - type: string
          - type: 'null'
          description: Time at which the connection was created
          example: '2022-12-12T10:00:00.000000+00:00'
        last_webhook_update:
          anyOf:
          - type: string
          - type: 'null'
          description: Last time at which a webhook update was sent for the connection
          example: '2022-12-12T10:00:00.000000+00:00'
        scopes:
          anyOf:
          - type: string
          - type: 'null'
          description: (when available) Permissions granted by the user during authentication - to be used as debugging metadata
          example: activity:read,sleep:read
        reference_id:
          anyOf:
          - type: string
          - type: 'null'
          description: Connection identifier on the developer's end, used to tie connection back to a user on the developer's platform
          example: user123@email.com
        active:
          anyOf:
          - type: boolean
          - type: 'null'
          description: 'whether the user is active or not (inactive users will not receive any data updates and are in considered '
          example: true
      required:
      - user_id
      - provider
    ActivityLevel:
      type: number
      enum:
      - 0
      - 1
      - 2
      - 3
      - 4
      - 5
      description: Intensity of the user's activity at an instant in time
    ActivityLevelSample:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        level:
          anyOf:
          - $ref: '#/components/schemas/ActivityLevel'
          - type: 'null'
    ActiveDurationsData:
      type: object
      properties:
        activity_levels_samples:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ActivityLevelSample'
          - type: 'null'
          description: Array of detailed samples of the intensity the user was in at various points during the workout.
        activity_seconds:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Total number of seconds spent in an active state during the workout.
          example: 1800
        inactivity_seconds:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Total number of seconds spent in an inactive state during the workout.
          example: 600
        low_intensity_seconds:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Total number of seconds spent in a low intensity state during the workout.
          example: 900
        moderate_intensity_seconds:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Total number of seconds spent in a moderate intensity state during the workout.
          example: 600
        num_continuous_inactive_periods:
          anyOf:
          - type: integer
          - type: 'null'
          minimum: 0
          description: Maximum number of continuous periods spent in an inactive state during the workout.
          example: 3
        rest_seconds:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Total number of seconds spent resting during the workout.
          example: 120
        vigorous_intensity_seconds:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Total number of seconds spent in a state of vigorous intensity during the workout.
          example: 300
        standing_hours_count:
          anyOf:
          - type: number
          - type: 'null'
        standing_seconds:
          anyOf:
          - type: number
          - type: 'null'
    CalorieSample:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        calories:
          anyOf:
          - type: number
          - type: 'null'
          description: Number of calories burned at the given timestamp.
        timer_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Time elapsed since the start of the workout, subtracting time during which the recording was paused
    CaloriesData:
      type: object
      properties:
        BMR_calories:
          anyOf:
          - type: number
          - type: 'null'
          description: Basal Metabolic Rate calories - calories burned at rest.
        calorie_samples:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/CalorieSample'
          - type: 'null'
          description: Array of calorie data samples recorded throughout the time period.
        net_activity_calories:
          anyOf:
          - type: number
          - type: 'null'
          description: Net calories burned through activity (excluding BMR).
        net_intake_calories:
          anyOf:
          - type: number
          - type: 'null'
          description: Net calories consumed through food and drink intake.
        total_burned_calories:
          anyOf:
          - type: number
          - type: 'null'
          description: Total calories burned including BMR and activity.
    DataEnrichment:
      type: object
      properties:
        stress_score:
          anyOf:
          - type: integer
          - type: 'null'
          description: User's stress score.
    DeviceDataType:
      type: string
      enum:
      - STEPS
      - ACTIVE_MINUTES
      - BMR
      - CALORIES
      - DISTANCE
      - HEART_RATE
      - OXYGEN_SATURATION
      - SLEEP_TYPE
      - SPEED
      - CADENCE
      description: Represents data types that a certain device contributed to.
    OtherDeviceData:
      type: object
      properties:
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          description: Device manufacturer name.
          example: Garmin
        hardware_version:
          anyOf:
          - type: string
          - type: 'null'
          description: Hardware version of the device.
          example: v2.1
        serial_number:
          anyOf:
          - type: string
          - type: 'null'
          description: Device Serial Number.
          example: GR123456789
        name:
          anyOf:
          - type: string
          - type: 'null'
          description: Device name - note that this can also be the name of the application/package which the data comes from, if coming from a data aggregator such as Google Fit.
          example: Forerunner 945
        software_version:
          anyOf:
          - type: string
          - type: 'null'
          description: Device Software Version.
          example: 5.2.1
        activation_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Activation timestamp of the device, if applicable.
        data_provided:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/DeviceDataType'
          - type: 'null'
          description: Data provided by the device, as enumerated types.
        last_upload_date:
          anyOf:
          - type: string
          - type: 'null'
          description: Last upload date from the device.
    DeviceData:
      type: object
      properties:
        activation_timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Activation timestamp of the device, if applicable.
          example: '2022-12-25T00:00:00.000000+05:00'
        data_provided:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/DeviceDataType'
          - type: 'null'
          description: Data provided by the device, as enumerated types.
        hardware_version:
          anyOf:
          - type: string
          - type: 'null'
          description: Hardware version of the device.
          example: v2.1
        last_upload_date:
          anyOf:
          - type: string
          - type: 'null'
          description: Last upload date from the device.
        manufacturer:
          anyOf:
          - type: string
          - type: 'null'
          description: Device manufacturer name.
          example: Garmin
        name:
          anyOf:
          - type: string
          - type: 'null'
          description: Device name - note that this can also be the name of the application/package which the data comes from, if coming from a data aggregator such as Google Fit.
          example: Forerunner 945
        other_devices:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/OtherDeviceData'
          - type: 'null'
          description: Data pertaining to other devices which may have contributed data for this workout.
        sensor_state:
          anyOf:
          - type: string
          - type: 'null'
          description: Sensor state of the device.
        serial_number:
          anyOf:
          - type: string
          - type: 'null'
          description: Device Serial Number.
          example: GR123456789
        software_version:
          anyOf:
          - type: string
          - type: 'null'
          description: Device Software Version.
          example: 5.2.1
    DistanceSample:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        distance_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Cumulative distance covered up to associated timestamp, since the start of the payload
          example: 2500
        timer_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Time elapsed since the start of the workout, subtracting time during which the recording was paused
          example: 900
    ElevationSample:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        elev_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: User's altitude at a given point in time, in meters above sea level.
          example: 925
        timer_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Time elapsed since the start of the workout, subtracting time during which the recording was paused
          example: 1200
    FloorsClimbedSample:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        floors_climbed:
          anyOf:
          - type: integer
          - type: 'null'
          description: Cumulative number of elevation gain measured in floors climbed up to associated timestamp, since the start of the payload
          example: 5
        timer_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Time elapsed since the start of the workout, subtracting time during which the recording was paused
          example: 600
    StepSample:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        steps:
          anyOf:
          - type: integer
          - type: 'null'
          description: Cumulative number of steps taken up to associated timestamp, since the start of the payload
        timer_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Time elapsed since the start of the workout, subtracting time during which the recording was paused
    DistanceDataDetailed:
      type: object
      properties:
        distance_samples:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/DistanceSample'
          - type: 'null'
          description: Array of detailed samples of distance covered throughout the workout.
        elevation_samples:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/ElevationSample'
          - type: 'null'
          description: Array of detailed samples of elevation throughout the workout.
        floors_climbed_samples:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/FloorsClimbedSample'
          - type: 'null'
          description: Array of detailed samples of floors climbed throughout the workout, as determined by the fitness data provider.
        step_samples:
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/StepSample'
          - type: 'null'
          description: Array of detailed samples of steps performed throughout the workout.
    ElevationData:
      type: object
      properties:
        avg_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Average elevation of the user throughout the workout.
          example: 950
        gain_actual_meters:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Actual elevation gain of the user throughout the workout - this includes all elevation gain, and does _not_ represent net gain.
          example: 550
        gain_planned_meters:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Planned elevation gain for the workout.
          example: 500
        loss_actual_meters:
          anyOf:
          - type: number
          - type: 'null'
          minimum: 0
          description: Elevation loss of the user throughout the workout.
          example: 450
        max_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Maximum elevation of the user during the workout.
          example: 1200
        min_meters:
          anyOf:
          - type: number
          - type: 'null'
          description: Minimum elevation of the user during the workout.
          example: 800
    SwimmingData:
      type: object
      properties:
        num_laps:
          anyOf:
          - type: integer
          - type: 'null'
          minimum: 0
          description: Total number of swimming laps performed during the day.
          example: 20
        num_strokes:
          anyOf:
          - type: integer
          - type: 'null'
          minimum: 0
          description: Total number of swimming strokes performed during the day.
          example: 500
        pool_length_meters:
          anyOf:
          - type: integer
          - type: 'null'
          minimum: 0
          description: Pool length for associated with the day.
          example: 25
    DistanceDataSummary:
      type: object
      properties:
        distance_meters:
          anyOf:
          - type: integer
          - type: 'null'
          description: Total distance covered by the user throughout the workout.
        elevation:
          anyOf:
          - $ref: '#/components/schemas/ElevationData'
          - type: 'null'
          description: Object containing information on the elevation of the user throughout the workout.
        floors_climbed:
          anyOf:
          - type: integer
          - type: 'null'
          description: Total number of elevation gain in floors climbed equivalent throughout the workout, as determined by the fitness data provider.
        steps:
          anyOf:
          - type: integer
          - type: 'null'
          description: Total number of steps performed during the workout.
        swimming:
          anyOf:
          - $ref: '#/components/schemas/SwimmingData'
          - type: 'null'
          description: Summary information of the user's swimming statistics for the workout, if applicable.
    DistanceData:
      type: object
      properties:
        detailed:
          anyOf:
          - $ref: '#/components/schemas/DistanceDataDetailed'
          - type: 'null'
          description: Object containing detailed distance information - this may included second-by-second samples.
        summary:
          anyOf:
          - $ref: '#/components/schemas/DistanceDataSummary'
          - type: 'null'
          description: Object containing summary information related to distance covered throughout the workout.
    EnergyData:
      type: object
      properties:
        energy_kilojoules:
          anyOf:
          - type: number
          - type: 'null'
          description: Total number of kiloJoules expended during the workout
          example: 1200
        energy_planned_kilojoules:
          anyOf:
          - type: number
          - type: 'null'
          description: Total number of kiloJoules planned to be expended during the workout - represents the user's predefined goal for the workout
          example: 1150
    HeartRateContext:
      type: number
      enum:
      - 0
      - 1
      - 2
      description: Represents the context in which heart rate was measured.
    HeartRateDataSample:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        bpm:
          anyOf:
          - type: number
          - type: 'null'
          description: User's heart rate in bpm
          example: 142
        timer_duration_seconds:
          anyOf:
          - type: number
          - type: 'null'
          description: Time elapsed since the start of the workout, subtracting time during which the recording was paused
          example: 600
        context:
          anyOf:
          - $ref: '#/components/schemas/HeartRateContext'
          - type: 'null'
          description: Represents the context in which heart rate was measured.
    HeartRateVariabilityDataSampleRMSSD:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        hrv_rmssd:
          anyOf:
          - type: number
          - type: 'null'
          description: User's Heart Rate Variability, computed using RMSSD
          example: 42.1
    HeartRateVariabilityDataSampleSDNN:
      type: object
      properties:
        timestamp:
          anyOf:
          - type: string
          - type: 'null'
          description: Time with which the record is associated, in ISO8601 format with microsecond precision. TimeZone info will be provided whenever possible. If absent, the time corresponds to the user's
            local time.
          example: '2022-11-23T09:00:00.000000+02:00'
        hrv_sdnn:
          anyOf:
          - type: number
          - type: 'null'
          description: User's Heart Rate Variability, computed using SDNN
[...]
